Gemini HF-1K.json
[{"id":"e9e83c3f.207598","type":"tab","label":"Gemini HF-1K","disabled":true,"info":""},{"id":"c23cf941.dee0e8","type":"inject","z":"e9e83c3f.207598","name":"Connect","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":100,"y":100,"wires":[["e32a3d77.c9ede8"]]},{"id":"5b470ff5.95e108","type":"function","z":"e9e83c3f.207598","name":"toString","func":"msg.payload = msg.payload.toString('utf8');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":120,"wires":[["a9a14594.12b5a","f47a7f6d.71a09"]]},{"id":"f47a7f6d.71a09","type":"switch","z":"e9e83c3f.207598","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"password>","vt":"str"},{"t":"cont","v":"DxShop Gemini","vt":"str"},{"t":"cont","v":"BAND=","vt":"str"},{"t":"cont","v":"1234","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":460,"wires":[["accd93f0.7238d"],["7f231d55.af9ab4"],["7f231d55.af9ab4","5c4a86ea.7cd618"],["6c277efa.bf49c8"],["b011bf19.b06098"]]},{"id":"accd93f0.7238d","type":"change","z":"e9e83c3f.207598","name":"Initial Password Rsp","rules":[{"t":"set","p":"payload","pt":"msg","to":"1234","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":280,"wires":[["ac233f24.14048"]]},{"id":"9a3f1715.3a0428","type":"inject","z":"e9e83c3f.207598","name":"Standby","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":840,"wires":[["12c9d87.fc4f0a8"]]},{"id":"d8327909.400828","type":"debug","z":"e9e83c3f.207598","name":"other","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":700,"wires":[]},{"id":"a9a14594.12b5a","type":"debug","z":"e9e83c3f.207598","name":"Raw Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"e32a3d77.c9ede8","type":"tcp request","z":"e9e83c3f.207598","server":"192.168.86.247","port":"9100","out":"sit","splitc":"\\n","name":"","x":430,"y":120,"wires":[["5b470ff5.95e108"]]},{"id":"a3087876.64b038","type":"link in","z":"e9e83c3f.207598","name":"","links":["ac233f24.14048","f55808e7.5934a","7c3e6a1.49d8994","ad5d8467.c30088","30fb3a8b.0d653e","51adaa1d.e458f4","9f24b7c9.c4c898","1f0fe62d.4e45ba","2bcd9c10.61b3d4","7685264b.0c60d8","31773787.955c58","81e4ebff.8b982","6f93c837.a839","b4b3530a.c585b","713fea47.f36dbc","3ea30caf.38cc14","e126aad4.e522e8","e978761f.d2684","79653330.fe430c","a2a52995.feb31","1dcdd037.dd1768","78c58f7f.4c9be8","caff488c.0262a8","39898cc0.c9894c","96390694.a205d","1accc0be.533357","f36d61c3.d63a08","88294a44.8d79c","765771b1.46302"],"x":95,"y":200,"wires":[["3ad33f19.23fc78"]]},{"id":"ac233f24.14048","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":655,"y":280,"wires":[]},{"id":"7f231d55.af9ab4","type":"change","z":"e9e83c3f.207598","name":"-> S","rules":[{"t":"set","p":"payload","pt":"msg","to":"S","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["55980eb7.bd08a"]]},{"id":"3ad33f19.23fc78","type":"template","z":"e9e83c3f.207598","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":200,"y":200,"wires":[["e32a3d77.c9ede8"]]},{"id":"55980eb7.bd08a","type":"delay","z":"e9e83c3f.207598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":340,"wires":[["f55808e7.5934a"]]},{"id":"f55808e7.5934a","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":655,"y":340,"wires":[]},{"id":"ad5d8467.c30088","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":415,"y":860,"wires":[]},{"id":"3838f3e0.c26204","type":"inject","z":"e9e83c3f.207598","name":"Enable","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":960,"wires":[["e28dc7dc.7a02d8"]]},{"id":"30fb3a8b.0d653e","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":415,"y":980,"wires":[]},{"id":"6c1d6748.2e91b","type":"inject","z":"e9e83c3f.207598","name":"Band 472kHz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":840,"wires":[["46b37dd5.20b72c"]]},{"id":"51adaa1d.e458f4","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":895,"y":860,"wires":[]},{"id":"5fb2a477.f06a64","type":"inject","z":"e9e83c3f.207598","name":"Band 1.8MHz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":960,"wires":[["b7ab5132.af5fe8"]]},{"id":"9f24b7c9.c4c898","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":895,"y":980,"wires":[]},{"id":"fb9d0e42.fa7c48","type":"inject","z":"e9e83c3f.207598","name":"Band 3.5Mhz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":1080,"wires":[["baf41aaf.b7d958"]]},{"id":"7685264b.0c60d8","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":895,"y":1100,"wires":[]},{"id":"ca74b690.3bb108","type":"inject","z":"e9e83c3f.207598","name":"Band 5MHz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":1200,"wires":[["accbd5f7.e20e88"]]},{"id":"31773787.955c58","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":895,"y":1220,"wires":[]},{"id":"57edaeb8.b7b848","type":"inject","z":"e9e83c3f.207598","name":"Band 10Mhz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":1440,"wires":[["2db07350.4a6324"]]},{"id":"81e4ebff.8b982","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":895,"y":1460,"wires":[]},{"id":"f076c1c5.c3bd58","type":"inject","z":"e9e83c3f.207598","name":"Band 7MHz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":1320,"wires":[["8af9312a.88fa58"]]},{"id":"6f93c837.a839","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":895,"y":1340,"wires":[]},{"id":"1d378de8.ec123a","type":"inject","z":"e9e83c3f.207598","name":"Band 18Mhz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1090,"y":960,"wires":[["5fdda267.77e69c"]]},{"id":"b4b3530a.c585b","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":1375,"y":980,"wires":[]},{"id":"a20a2675.1773b","type":"inject","z":"e9e83c3f.207598","name":"Band 14MHz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1090,"y":840,"wires":[["4a604b82.e717fc"]]},{"id":"713fea47.f36dbc","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":1395,"y":860,"wires":[]},{"id":"6fda2da2.1aadcc","type":"inject","z":"e9e83c3f.207598","name":"Band 24Mhz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1090,"y":1200,"wires":[["f31edd60.41a848"]]},{"id":"3ea30caf.38cc14","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":1375,"y":1220,"wires":[]},{"id":"76de0025.c878e8","type":"inject","z":"e9e83c3f.207598","name":"Band 21MHz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1090,"y":1080,"wires":[["452f79b7.fa26c"]]},{"id":"e126aad4.e522e8","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":1375,"y":1100,"wires":[]},{"id":"4f0bf81d.2452c8","type":"inject","z":"e9e83c3f.207598","name":"Band 50Mhz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1090,"y":1440,"wires":[["809bd48b.d4eb1"]]},{"id":"e978761f.d2684","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":1375,"y":1460,"wires":[]},{"id":"72542197.10ec98","type":"inject","z":"e9e83c3f.207598","name":"Band 28MHz","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1090,"y":1320,"wires":[["37efd208.640596"]]},{"id":"79653330.fe430c","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":1375,"y":1340,"wires":[]},{"id":"b22a1a39.13ae68","type":"inject","z":"e9e83c3f.207598","name":"Antenna 1","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":1080,"wires":[["3064e25.580789e"]]},{"id":"a2a52995.feb31","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":415,"y":1100,"wires":[]},{"id":"d22ba4c0.c885e8","type":"inject","z":"e9e83c3f.207598","name":"Antenna 2","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":1200,"wires":[["8e2467be.dab728"]]},{"id":"1dcdd037.dd1768","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":415,"y":1220,"wires":[]},{"id":"ab4b2896.cf4bb8","type":"inject","z":"e9e83c3f.207598","name":"Antenna 3","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":1320,"wires":[["ae4b5300.37201"]]},{"id":"78c58f7f.4c9be8","type":"link out","z":"e9e83c3f.207598","name":"","links":["a3087876.64b038"],"x":415,"y":1340,"wires":[]},{"id":"849e161d.d07748","type":"debug","z":"e9e83c3f.207598","name":"Amp Stat Obj","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":580,"wires":[]},{"id":"97b682d1.ae09d","type":"function","z":"e9e83c3f.207598","name":"S2O","func":"const str2obj = str => {\n  return str\n    .split(',')\n    .map(keyVal => {\n      return keyVal\n        .split(':')\n        .map(_ => _.trim())\n    })\n    .reduce((accumulator, currentValue) => {\n      accumulator[currentValue[0]] = currentValue[1]\n      return accumulator\n    }, {})\n}\nmsg.payload = msg.payload.replace('=',':');\n\nmsg.payload = str2obj(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":400,"wires":[["7a3f5a0.4678fa8"]]},{"id":"5c4a86ea.7cd618","type":"change","z":"e9e83c3f.207598","name":"-> / :","rules":[{"t":"change","p":"payload","pt":"msg","from":":","fromt":"str","to":"/","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"=","fromt":"str","to":":","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":400,"wires":[["97b682d1.ae09d"]]},{"id":"33f64f8e.296628","type":"comment","z":"e9e83c3f.207598","name":"Gemini HF-1K Amp ","info":"","x":110,"y":40,"wires":[]},{"id":"8ee4e48f.830e38","type":"change","z":"e9e83c3f.207598","name":"toNums","rules":[{"t":"set","p":"payload.VSWR","pt":"msg","to":"$number(msg.payload.VSWR)","tot":"jsonata"},{"t":"set","p":"payload.PWR1","pt":"msg","to":"$number(msg.payload.PWR1)","tot":"jsonata"},{"t":"set","p":"payload.PWR2","pt":"msg","to":"$number(msg.payload.PWR2)","tot":"jsonata"},{"t":"set","p":"payload.CUR1","pt":"msg","to":"$number(msg.payload.CUR1)","tot":"jsonata"},{"t":"set","p":"payload.CUR2","pt":"msg","to":"$number(msg.payload.CUR2)","tot":"jsonata"},{"t":"set","p":"payload.TMP","pt":"msg","to":"$number(msg.payload.TMP)","tot":"jsonata"},{"t":"set","p":"payload.TMPW","pt":"msg","to":"$number(msg.payload.TMPW)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":580,"wires":[["849e161d.d07748","46906cc0.f9afbc"]],"info":"# djs 02/21\nI have not put all the possible combinations of string to nums. Add more as needed."},{"id":"af6d1f62.660f58","type":"string","z":"e9e83c3f.207598","name":"PWR1","methods":[{"name":"getLeftMost","params":[{"type":"str","value":"/"}]},{"name":"delRightMost","params":[{"type":"str","value":"W"}]}],"prop":"payload.POWER","propout":"payload.PWR1","object":"msg","objectout":"msg","x":450,"y":460,"wires":[["22136ccd.49964c"]]},{"id":"22136ccd.49964c","type":"string","z":"e9e83c3f.207598","name":"PWR2","methods":[{"name":"getRightMost","params":[{"type":"str","value":"/"}]},{"name":"delRightMost","params":[{"type":"str","value":"W"}]}],"prop":"payload.POWER","propout":"payload.PWR2","object":"msg","objectout":"msg","x":590,"y":460,"wires":[["fa240487.44f928"]]},{"id":"7faa0c6c.ecd21c","type":"string","z":"e9e83c3f.207598","name":"CUR2","methods":[{"name":"getRightMost","params":[{"type":"str","value":"/"}]},{"name":"delRightMost","params":[{"type":"str","value":"A"}]}],"prop":"payload.CURRENT","propout":"payload.CUR2","object":"msg","objectout":"msg","x":890,"y":460,"wires":[["942e331c.b1aaf"]]},{"id":"fa240487.44f928","type":"string","z":"e9e83c3f.207598","name":"CUR1","methods":[{"name":"getLeftMost","params":[{"type":"str","value":"/"}]},{"name":"delRightMost","params":[{"type":"str","value":"A"}]}],"prop":"payload.CURRENT","propout":"payload.CUR1","object":"msg","objectout":"msg","x":730,"y":460,"wires":[["7faa0c6c.ecd21c"]]},{"id":"7a3f5a0.4678fa8","type":"rbe","z":"e9e83c3f.207598","name":"","func":"rbe","gap":"5","start":"","inout":"in","property":"payload","x":670,"y":400,"wires":[["af6d1f62.660f58"]]},{"id":"942e331c.b1aaf","type":"string","z":"e9e83c3f.207598","name":"TMP","methods":[{"name":"getLeftMost","params":[{"type":"str","value":"Deg"}]}],"prop":"payload.TEMERATURE","propout":"payload.TMP","object":"msg","objectout":"msg","x":450,"y":520,"wires":[["a0368802.96af88"]]},{"id":"a0368802.96af88","type":"string","z":"e9e83c3f.207598","name":"TMPU","methods":[{"name":"getRightMost","params":[{"type":"str","value":"Deg"}]},{"name":"delRightMost","params":[{"type":"str","value":"W0"}]}],"prop":"payload.TEMERATURE","propout":"payload.TMPU","object":"msg","objectout":"msg","x":590,"y":520,"wires":[["63e4a6c1.125218"]]},{"id":"63e4a6c1.125218","type":"string","z":"e9e83c3f.207598","name":"TMPW","methods":[{"name":"getRightMost","params":[{"type":"str","value":"W"}]}],"prop":"payload.TEMERATURE","propout":"payload.TMPW","object":"msg","objectout":"msg","x":730,"y":520,"wires":[["8ee4e48f.830e38"]]},{"id":"46906cc0.f9afbc","type":"mqtt out","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/report","qos":"0","retain":"false","broker":"407a01e4.6b637","x":670,"y":580,"wires":[]},{"id":"ce5b704f.a045c8","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/run/false","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":130,"y":880,"wires":[["12c9d87.fc4f0a8"]]},{"id":"12c9d87.fc4f0a8","type":"string","z":"e9e83c3f.207598","name":"R0","methods":[{"name":"setValue","params":[{"type":"str","value":"R0"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":310,"y":860,"wires":[["ad5d8467.c30088"]]},{"id":"c9bb1bc4.33d0a","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/run/true","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":130,"y":1000,"wires":[["e28dc7dc.7a02d8"]]},{"id":"e28dc7dc.7a02d8","type":"string","z":"e9e83c3f.207598","name":"R1","methods":[{"name":"setValue","params":[{"type":"str","value":"R1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":310,"y":980,"wires":[["30fb3a8b.0d653e"]]},{"id":"3064e25.580789e","type":"string","z":"e9e83c3f.207598","name":"A1","methods":[{"name":"setValue","params":[{"type":"str","value":"A1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":310,"y":1100,"wires":[["a2a52995.feb31"]]},{"id":"8e2467be.dab728","type":"string","z":"e9e83c3f.207598","name":"A2","methods":[{"name":"setValue","params":[{"type":"str","value":"A2"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":310,"y":1220,"wires":[["1dcdd037.dd1768"]]},{"id":"ae4b5300.37201","type":"string","z":"e9e83c3f.207598","name":"A3","methods":[{"name":"setValue","params":[{"type":"str","value":"A3"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":310,"y":1340,"wires":[["78c58f7f.4c9be8"]]},{"id":"c18bfa4d.d5ec78","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/ant/1","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":140,"y":1120,"wires":[["3064e25.580789e"]]},{"id":"d3e6a57a.2cd258","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/ant/2","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":140,"y":1240,"wires":[["8e2467be.dab728"]]},{"id":"857f47df.ee9c","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/ant/3","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":140,"y":1360,"wires":[["ae4b5300.37201"]]},{"id":"46b37dd5.20b72c","type":"string","z":"e9e83c3f.207598","name":"B472kHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B472kHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":780,"y":860,"wires":[["51adaa1d.e458f4"]]},{"id":"b7ab5132.af5fe8","type":"string","z":"e9e83c3f.207598","name":"B1.8MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B1.8MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":780,"y":980,"wires":[["9f24b7c9.c4c898"]]},{"id":"baf41aaf.b7d958","type":"string","z":"e9e83c3f.207598","name":"B3.5MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B3.5MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":780,"y":1100,"wires":[["7685264b.0c60d8"]]},{"id":"accbd5f7.e20e88","type":"string","z":"e9e83c3f.207598","name":"B5MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B5MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":780,"y":1220,"wires":[["31773787.955c58"]]},{"id":"8af9312a.88fa58","type":"string","z":"e9e83c3f.207598","name":"B7MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B7MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":780,"y":1340,"wires":[["6f93c837.a839"]]},{"id":"2db07350.4a6324","type":"string","z":"e9e83c3f.207598","name":"B10MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B10MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":780,"y":1460,"wires":[["81e4ebff.8b982"]]},{"id":"4a604b82.e717fc","type":"string","z":"e9e83c3f.207598","name":"B14MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B14MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1260,"y":860,"wires":[["713fea47.f36dbc"]]},{"id":"5fdda267.77e69c","type":"string","z":"e9e83c3f.207598","name":"B18MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B18MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1260,"y":980,"wires":[["b4b3530a.c585b"]]},{"id":"452f79b7.fa26c","type":"string","z":"e9e83c3f.207598","name":"B21MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B21MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1260,"y":1100,"wires":[["e126aad4.e522e8"]]},{"id":"f31edd60.41a848","type":"string","z":"e9e83c3f.207598","name":"B24Mhz","methods":[{"name":"setValue","params":[{"type":"str","value":"B24Mhz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1260,"y":1220,"wires":[[]]},{"id":"37efd208.640596","type":"string","z":"e9e83c3f.207598","name":"B28MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B28MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1260,"y":1340,"wires":[["79653330.fe430c"]]},{"id":"809bd48b.d4eb1","type":"string","z":"e9e83c3f.207598","name":"B50MHz","methods":[{"name":"setValue","params":[{"type":"str","value":"B50MHz"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1260,"y":1460,"wires":[["e978761f.d2684"]]},{"id":"29ac379b.97706","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/472","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":580,"y":880,"wires":[["46b37dd5.20b72c"]]},{"id":"9b3679d5.02e31","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/1.8","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":590,"y":1000,"wires":[["b7ab5132.af5fe8"]]},{"id":"2169800d.ffc29","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/3.5","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":590,"y":1120,"wires":[["baf41aaf.b7d958"]]},{"id":"52d8ce83.6844","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/5","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":590,"y":1240,"wires":[["accbd5f7.e20e88"]]},{"id":"197d73c6.e34634","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/7","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":590,"y":1360,"wires":[["8af9312a.88fa58"]]},{"id":"5ce8ae93.441078","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/10","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":590,"y":1480,"wires":[["2db07350.4a6324"]]},{"id":"ee3f8fdc.2c021","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/14","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":1070,"y":880,"wires":[["4a604b82.e717fc"]]},{"id":"8e8abb66.c0b77","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/18","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":1070,"y":1000,"wires":[["5fdda267.77e69c"]]},{"id":"46df0048.40e5c8","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/21","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":1070,"y":1120,"wires":[["452f79b7.fa26c"]]},{"id":"158fa8a1.3da057","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/24","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":1070,"y":1240,"wires":[["f31edd60.41a848"]]},{"id":"e3900f51.f2957","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/28","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":1070,"y":1360,"wires":[["37efd208.640596"]]},{"id":"bbcbeafb.32dce","type":"mqtt in","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/band/50","qos":"2","datatype":"utf8","broker":"407a01e4.6b637","x":1070,"y":1480,"wires":[["809bd48b.d4eb1"]]},{"id":"b011bf19.b06098","type":"string","z":"e9e83c3f.207598","name":"Status","methods":[{"name":"prepend","params":[{"type":"str","value":"STATUS:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":400,"y":700,"wires":[["cdd46f1b.7d29d"]]},{"id":"cdd46f1b.7d29d","type":"function","z":"e9e83c3f.207598","name":"S2O","func":"const str2obj = str => {\n  return str\n    .split(',')\n    .map(keyVal => {\n      return keyVal\n        .split(':')\n        .map(_ => _.trim())\n    })\n    .reduce((accumulator, currentValue) => {\n      accumulator[currentValue[0]] = currentValue[1]\n      return accumulator\n    }, {})\n}\n\nmsg.payload = str2obj(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":700,"wires":[["d8327909.400828","32ac2ba8.d1554c"]]},{"id":"32ac2ba8.d1554c","type":"mqtt out","z":"e9e83c3f.207598","name":"","topic":"geminihf1k/status","qos":"0","retain":"false","broker":"407a01e4.6b637","x":730,"y":700,"wires":[]},{"id":"6c277efa.bf49c8","type":"debug","z":"e9e83c3f.207598","name":"password response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":640,"wires":[]},{"id":"407a01e4.6b637","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]