Gemini HF-1K UI.json
[{"id":"4940fa2b.b0412c","type":"tab","label":"Gemini HF-1K UI","disabled":true,"info":""},{"id":"10bfdcf9.78df2b","type":"debug","z":"4940fa2b.b0412c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":400,"wires":[]},{"id":"5692829e.07f86c","type":"mqtt in","z":"4940fa2b.b0412c","name":"","topic":"geminihf1k/report","qos":"0","datatype":"json","broker":"30ba5e90.07398a","x":240,"y":580,"wires":[["10bfdcf9.78df2b","74d6d852.ca0bc8","fc072be2.9ed958","5f7cf0ef.413038","72ea7a77.fd13c4","b0657c69.31c05","1bd07eb3.8864b1","bd113f42.68f5a8"]]},{"id":"b07fd4b2.57833","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"geminihf1k/run/false","qos":"0","retain":"","broker":"30ba5e90.07398a","x":380,"y":80,"wires":[]},{"id":"89a27bed.548bb","type":"inject","z":"4940fa2b.b0412c","name":"Gemini Standby","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["b07fd4b2.57833"]]},{"id":"eb44ff7a.7bdff","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"geminihf1k/run/true","qos":"0","retain":"","broker":"30ba5e90.07398a","x":370,"y":140,"wires":[]},{"id":"51fc1a8f.1df49c","type":"inject","z":"4940fa2b.b0412c","name":"Gemini Run","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["eb44ff7a.7bdff"]]},{"id":"a908a4af.a6ba98","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"geminihf1k/band/7","qos":"0","retain":"","broker":"30ba5e90.07398a","x":370,"y":220,"wires":[]},{"id":"c9844f67.df9888","type":"inject","z":"4940fa2b.b0412c","name":"Band 7MHz","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["a908a4af.a6ba98"]]},{"id":"d77c43f0.ea98b8","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"geminihf1k/band/14","qos":"0","retain":"","broker":"30ba5e90.07398a","x":380,"y":300,"wires":[]},{"id":"ab6887bb.6b9b28","type":"inject","z":"4940fa2b.b0412c","name":"Band 14Mhz","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":300,"wires":[["d77c43f0.ea98b8"]]},{"id":"eb4e5320.250a6","type":"ui_text","z":"4940fa2b.b0412c","group":"88f6d296.af7c58","order":2,"width":"6","height":"1","name":"Title","label":"<font color = #000000 size=\"5\">Gemini HF-1K","format":"{{msg.text}}","layout":"row-spread","x":550,"y":460,"wires":[]},{"id":"74d6d852.ca0bc8","type":"ui_level","z":"4940fa2b.b0412c","group":"88f6d296.af7c58","order":10,"width":6,"height":1,"name":"Temp","label":"Temperature","colorHi":"#e60000","colorWarn":"#ffff00","colorNormal":"#00ff55","colorOff":"#595959","min":"20","max":"70","segWarn":"55","segHigh":"65","unit":"C","layout":"sh","channelA":"","channelB":"","decimals":"0","animations":"rocket","shape":"1","colorschema":"rainbow","textoptions":"custom","colorText":"#000000","fontLabel":"","fontValue":"","fontSmall":"1","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.TMP","peaktime":"3000","x":550,"y":740,"wires":[]},{"id":"fc072be2.9ed958","type":"ui_text","z":"4940fa2b.b0412c","group":"88f6d296.af7c58","order":4,"width":6,"height":1,"name":"","label":"Operating Band:","format":"<font color=#000000size=\"4\">{{msg.payload.BAND}}","layout":"row-spread","x":580,"y":500,"wires":[]},{"id":"5f7cf0ef.413038","type":"ui_text","z":"4940fa2b.b0412c","group":"88f6d296.af7c58","order":4,"width":6,"height":1,"name":"","label":"State:","format":"<font color=#000000size=\"4\">{{msg.payload.STATE}}","layout":"row-spread","x":550,"y":540,"wires":[]},{"id":"72ea7a77.fd13c4","type":"ui_text","z":"4940fa2b.b0412c","group":"88f6d296.af7c58","order":4,"width":6,"height":1,"name":"","label":"Antenna:","format":"<font color=#000000size=\"4\">{{msg.payload.ANTENNA}}","layout":"row-spread","x":560,"y":580,"wires":[]},{"id":"b0657c69.31c05","type":"ui_level","z":"4940fa2b.b0412c","group":"88f6d296.af7c58","order":6,"width":6,"height":1,"name":"VSWR","label":"VSWR","colorHi":"#e60000","colorWarn":"#ffff00","colorNormal":"#00ff55","colorOff":"#5c5c5c","min":"0","max":"5","segWarn":"1.5","segHigh":"2.0","unit":"","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"reactive","shape":"1","colorschema":"rainbow","textoptions":"custom","colorText":"#000000","fontLabel":"","fontValue":"","fontSmall":"1","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.VSWR","peaktime":"2000","x":550,"y":620,"wires":[]},{"id":"1bd07eb3.8864b1","type":"ui_level","z":"4940fa2b.b0412c","group":"88f6d296.af7c58","order":6,"width":6,"height":1,"name":"Current","label":"Current","colorHi":"#e60000","colorWarn":"#ffff00","colorNormal":"#00ff55","colorOff":"#5c5c5c","min":"0","max":"40","segWarn":"20","segHigh":"30","unit":"Ipa","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"reactive","shape":"1","colorschema":"rainbow","textoptions":"custom","colorText":"#000000","fontLabel":"","fontValue":"","fontSmall":"1","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.CUR1","peaktime":"2000","x":560,"y":660,"wires":[]},{"id":"bd113f42.68f5a8","type":"ui_level","z":"4940fa2b.b0412c","group":"88f6d296.af7c58","order":6,"width":6,"height":1,"name":"Power","label":"Power","colorHi":"#e60000","colorWarn":"#ffff00","colorNormal":"#00ff55","colorOff":"#5c5c5c","min":"0","max":"1200","segWarn":"300","segHigh":"700","unit":"Watts","layout":"sh","channelA":"","channelB":"","decimals":"0","animations":"reactive","shape":"1","colorschema":"rainbow","textoptions":"custom","colorText":"#000000","fontLabel":"","fontValue":"","fontSmall":"1","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.PWR1","peaktime":"2000","x":550,"y":700,"wires":[]},{"id":"ae402bd0.634c98","type":"mqtt in","z":"4940fa2b.b0412c","name":"","topic":"geminihf1k/status","qos":"0","datatype":"json","broker":"30ba5e90.07398a","x":250,"y":800,"wires":[["92bc49b9.ab76f8","f644a790.998cd"]]},{"id":"92bc49b9.ab76f8","type":"ui_text","z":"4940fa2b.b0412c","group":"88f6d296.af7c58","order":4,"width":6,"height":1,"name":"","label":"Status Messages:","format":"<font color=#000000size=\"4\">{{msg.payload.STATUS}}","layout":"row-spread","x":590,"y":820,"wires":[]},{"id":"f644a790.998cd","type":"debug","z":"4940fa2b.b0412c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":780,"wires":[]},{"id":"6b448080.b2c838","type":"comment","z":"4940fa2b.b0412c","name":"Gemini HF-1K","info":"","x":220,"y":380,"wires":[]},{"id":"bca69f19.488b8","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"88f6d296.af7c58","order":0,"width":0,"height":0,"passthru":false,"label":"Standby","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":570,"y":880,"wires":[["9146d2ff.51a6b8"]]},{"id":"9146d2ff.51a6b8","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"geminihf1k/run/false","qos":"0","retain":"","broker":"30ba5e90.07398a","x":780,"y":880,"wires":[]},{"id":"30ba5e90.07398a","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88f6d296.af7c58","type":"ui_group","name":"Gemini HF-1K","tab":"8ff5c94.26611b8","order":1,"disp":false,"width":"6","collapse":false},{"id":"8ff5c94.26611b8","type":"ui_tab","name":"Gemini HF-1K","icon":"dashboard","disabled":false,"hidden":false}]