iOptron UI.json
[{"id":"4940fa2b.b0412c","type":"tab","label":"iOptron UI","disabled":false,"info":""},{"id":"10bfdcf9.78df2b","type":"debug","z":"4940fa2b.b0412c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":280,"wires":[]},{"id":"eb4e5320.250a6","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":1,"width":"10","height":"1","name":"Title","label":"<font color = #000000 size=\"5\">iOptron MacDoppler","format":"{{msg.text}}","layout":"row-spread","x":490,"y":100,"wires":[]},{"id":"72ea7a77.fd13c4","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":2,"width":"10","height":1,"name":"","label":"Mount Type:","format":"<font color=#000000size=\"4\">{{msg.payload.mountType}}","layout":"row-spread","x":510,"y":140,"wires":[]},{"id":"ae402bd0.634c98","type":"mqtt in","z":"4940fa2b.b0412c","name":"","topic":"iOptron/status","qos":"0","datatype":"json","broker":"30ba5e90.07398a","x":150,"y":200,"wires":[["17d96bf6.588084","92bc49b9.ab76f8"]]},{"id":"92bc49b9.ab76f8","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":3,"width":"10","height":1,"name":"","label":"Mount Response Messages:","format":"<font color=#000000size=\"4\">{{msg.payload.response}}","layout":"row-spread","x":560,"y":200,"wires":[]},{"id":"6b448080.b2c838","type":"comment","z":"4940fa2b.b0412c","name":"iOptron MacDoppler","info":"","x":150,"y":40,"wires":[]},{"id":"ac195c1c.d6db","type":"mqtt in","z":"4940fa2b.b0412c","name":"","topic":"iOptron/outCurPos","qos":"0","datatype":"json","broker":"30ba5e90.07398a","x":170,"y":260,"wires":[["10bfdcf9.78df2b","c3625996.7b5c88","24af2f34.ccfc78","9f2e90bf.2d0aa8","c095c55f.6a52c8","2631236f.fc356c"]]},{"id":"658abf2f.f86b5","type":"debug","z":"4940fa2b.b0412c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":160,"wires":[]},{"id":"42c5800b.4ec4a","type":"mqtt in","z":"4940fa2b.b0412c","name":"","topic":"iOptron/outMountType","qos":"0","datatype":"json","broker":"30ba5e90.07398a","x":180,"y":140,"wires":[["658abf2f.f86b5","72ea7a77.fd13c4"]]},{"id":"c3625996.7b5c88","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":4,"width":"4","height":1,"name":"","label":"Mount Current Pos:","format":"","layout":"row-spread","x":530,"y":260,"wires":[]},{"id":"53429a41.3b114c","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"501a766a.c7dda","order":9,"width":"10","height":"1","passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":500,"y":380,"wires":[["ae44f2c1.e6625"]]},{"id":"a8e2a3b1.769b98","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"501a766a.c7dda","order":10,"width":"5","height":"1","passthru":false,"label":"Get Mount Position","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":530,"y":440,"wires":[["440ebf0b.93fbe8"]]},{"id":"ae44f2c1.e6625","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/Connect","qos":"","retain":"","broker":"30ba5e90.07398a","x":790,"y":380,"wires":[]},{"id":"440ebf0b.93fbe8","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/getCurPos","qos":"","retain":"","broker":"30ba5e90.07398a","x":790,"y":440,"wires":[]},{"id":"542b6fd2.96e4f8","type":"mqtt in","z":"4940fa2b.b0412c","name":"","topic":"dogpark/rotorReport","qos":"0","datatype":"json","broker":"30ba5e90.07398a","x":170,"y":320,"wires":[["730097b6.cecd38","280274c3.ccc2e4","6687b68b.97bea","255875e9.e5fa22","9c1f0bf5.01d1e8","ab8b438.ceac4c","3cb972ab.f3f6b6"]]},{"id":"730097b6.cecd38","type":"debug","z":"4940fa2b.b0412c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":340,"wires":[]},{"id":"280274c3.ccc2e4","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":14,"width":"1","height":1,"name":"","label":"Sat:","format":"","layout":"row-spread","x":490,"y":320,"wires":[]},{"id":"17186df.0195e12","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"501a766a.c7dda","order":22,"width":"5","height":"1","passthru":false,"label":"Rotator One Ping Only","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":800,"wires":[["92efdab6.d9d73"]]},{"id":"aea51251.5b29c","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"501a766a.c7dda","order":23,"width":"5","height":"1","passthru":false,"label":"Rotator Enable","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":520,"y":860,"wires":[["8463d348.f0a2"]]},{"id":"ac43541e.270d78","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"501a766a.c7dda","order":21,"width":"10","height":"1","passthru":false,"label":"Rotator Disable","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":520,"y":740,"wires":[["ee48208f.c4cd"]]},{"id":"28fd75ce.33044a","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"501a766a.c7dda","order":12,"width":"5","height":"1","passthru":false,"label":"Stop Track","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":560,"wires":[["67327756.d559f"]]},{"id":"ac8294a6.2a7cc8","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"501a766a.c7dda","order":13,"width":"5","height":"1","passthru":false,"label":"Start Track","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":620,"wires":[["582c955f.f7a7e4"]]},{"id":"faaa62b8.4cf7c8","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"501a766a.c7dda","order":20,"width":"10","height":"1","passthru":false,"label":"Stop Slew / Rotator Disable","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":680,"wires":[["270e4e92.55cee2","c4f4e4f3.7b636"]]},{"id":"67327756.d559f","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/cmdStoTrk","qos":"","retain":"","broker":"30ba5e90.07398a","x":790,"y":560,"wires":[]},{"id":"582c955f.f7a7e4","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/cmdStaTrk","qos":"","retain":"","broker":"30ba5e90.07398a","x":790,"y":620,"wires":[]},{"id":"270e4e92.55cee2","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/cmdStoSlew","qos":"","retain":"","broker":"30ba5e90.07398a","x":800,"y":680,"wires":[]},{"id":"6687b68b.97bea","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":15,"width":"3","height":1,"name":"Sat","label":"","format":"<font color=#000000 size=\"4\">{{msg.payload.SatName}}","layout":"row-spread","x":610,"y":320,"wires":[]},{"id":"255875e9.e5fa22","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":16,"width":"1","height":1,"name":"Sat Az:","label":"Az:","format":"","layout":"row-spread","x":740,"y":320,"wires":[]},{"id":"9c1f0bf5.01d1e8","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":17,"width":"2","height":1,"name":"Sat Az","label":"","format":"<font color=#000000 size=\"4\">{{msg.payload.Azimuth}}","layout":"row-spread","x":850,"y":320,"wires":[]},{"id":"ab8b438.ceac4c","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":18,"width":"1","height":1,"name":"Sat El:","label":"El:","format":"","layout":"row-spread","x":970,"y":320,"wires":[]},{"id":"3cb972ab.f3f6b6","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":19,"width":"2","height":1,"name":"Sat El","label":"","format":"<font color=#000000 size=\"4\">{{msg.payload.Elevation}}","layout":"row-spread","x":1090,"y":320,"wires":[]},{"id":"17d96bf6.588084","type":"debug","z":"4940fa2b.b0412c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":220,"wires":[]},{"id":"24af2f34.ccfc78","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":5,"width":"1","height":1,"name":"","label":"Az:","format":"","layout":"row-spread","x":690,"y":260,"wires":[]},{"id":"9f2e90bf.2d0aa8","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":6,"width":"2","height":1,"name":"Az","label":"","format":"<font color=#000000 size=\"4\">{{msg.payload.azimuthDeg}}","layout":"row-spread","x":830,"y":260,"wires":[]},{"id":"2631236f.fc356c","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":8,"width":"2","height":1,"name":"El","label":"","format":"<font color=#000000 size=\"4\">{{msg.payload.altitudeDeg}}","layout":"row-spread","x":1070,"y":260,"wires":[]},{"id":"c095c55f.6a52c8","type":"ui_text","z":"4940fa2b.b0412c","group":"501a766a.c7dda","order":7,"width":"1","height":1,"name":"","label":"El:","format":"","layout":"row-spread","x":950,"y":260,"wires":[]},{"id":"fb5bb3a3.f7b53","type":"ui_button","z":"4940fa2b.b0412c","name":"","group":"501a766a.c7dda","order":11,"width":"5","height":"1","passthru":false,"label":"Set Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":500,"y":500,"wires":[["8c187f47.d8f5c8"]]},{"id":"8c187f47.d8f5c8","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/cmdSetHome","qos":"","retain":"","broker":"30ba5e90.07398a","x":800,"y":500,"wires":[]},{"id":"92efdab6.d9d73","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/autoOneP","qos":"","retain":"","broker":"30ba5e90.07398a","x":790,"y":800,"wires":[]},{"id":"ee48208f.c4cd","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/autoDisable","qos":"","retain":"","broker":"30ba5e90.07398a","x":800,"y":740,"wires":[]},{"id":"8463d348.f0a2","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/autoEnable","qos":"","retain":"","broker":"30ba5e90.07398a","x":790,"y":860,"wires":[]},{"id":"c4f4e4f3.7b636","type":"mqtt out","z":"4940fa2b.b0412c","name":"","topic":"iOptron/autoDisable","qos":"","retain":"","broker":"30ba5e90.07398a","x":1020,"y":680,"wires":[]},{"id":"501a766a.c7dda","type":"ui_group","name":"Default","tab":"8914cef1.ac9c58","order":2,"disp":false,"width":"10","collapse":false},{"id":"30ba5e90.07398a","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"8914cef1.ac9c58","type":"ui_tab","name":"iOptron","icon":"dashboard","disabled":false,"hidden":false}]