iOptron Auto.json
[{"id":"ec29d9ea.ffe8d","type":"tab","label":"iOptron Auto","disabled":false,"info":""},{"id":"9b7384dc.fb1408","type":"mqtt in","z":"ec29d9ea.ffe8d","name":"","topic":"dogpark/rotorReport","qos":"0","datatype":"json","broker":"30ba5e90.07398a","x":130,"y":160,"wires":[["2b783301.5e8534","52cde240.7eb53c"]]},{"id":"2b783301.5e8534","type":"change","z":"ec29d9ea.ffe8d","name":"","rules":[{"t":"set","p":"payload.desiredPosAltDeg","pt":"msg","to":"payload.Elevation","tot":"msg"},{"t":"set","p":"payload.desiredPosAziDeg","pt":"msg","to":"payload.Azimuth","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":160,"wires":[["d08e6b65.b66bf"]]},{"id":"5781dd2f.01779c","type":"mqtt out","z":"ec29d9ea.ffe8d","name":"","topic":"iOptron/setSlew","qos":"","retain":"","broker":"30ba5e90.07398a","x":920,"y":160,"wires":[]},{"id":"adc58c8e.98147","type":"simple-queue","z":"ec29d9ea.ffe8d","name":"","firstMessageBypass":false,"bypassInterval":"0","x":700,"y":160,"wires":[["5781dd2f.01779c"]]},{"id":"d08e6b65.b66bf","type":"change","z":"ec29d9ea.ffe8d","name":"","rules":[{"t":"set","p":"ttl","pt":"msg","to":"2000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":160,"wires":[["adc58c8e.98147"]]},{"id":"e815d1bc.4629e8","type":"change","z":"ec29d9ea.ffe8d","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["adc58c8e.98147"]]},{"id":"f8063c1.0d2194","type":"inject","z":"ec29d9ea.ffe8d","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":260,"y":220,"wires":[["e815d1bc.4629e8"]]},{"id":"8b98ffb.7c3d78","type":"change","z":"ec29d9ea.ffe8d","name":"Bypass set to true","rules":[{"t":"set","p":"bypass","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[["adc58c8e.98147"]]},{"id":"327e0671.b58caa","type":"inject","z":"ec29d9ea.ffe8d","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":260,"y":300,"wires":[["8b98ffb.7c3d78"]]},{"id":"1f342b96.0a1c34","type":"change","z":"ec29d9ea.ffe8d","name":"Bypass set to false","rules":[{"t":"set","p":"bypass","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[["adc58c8e.98147"]]},{"id":"bf4f56dd.941788","type":"inject","z":"ec29d9ea.ffe8d","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":260,"y":380,"wires":[["1f342b96.0a1c34"]]},{"id":"52cde240.7eb53c","type":"mqtt out","z":"ec29d9ea.ffe8d","name":"","topic":"iOptron/getCurPos","qos":"","retain":"","broker":"30ba5e90.07398a","x":350,"y":120,"wires":[]},{"id":"8938426f.cbb21","type":"mqtt in","z":"ec29d9ea.ffe8d","name":"","topic":"iOptron/autoOneP","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":270,"y":260,"wires":[["e815d1bc.4629e8"]]},{"id":"ef377716.1458c8","type":"mqtt in","z":"ec29d9ea.ffe8d","name":"","topic":"iOptron/autoEnable","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":270,"y":340,"wires":[["8b98ffb.7c3d78"]]},{"id":"f34b464.b593838","type":"mqtt in","z":"ec29d9ea.ffe8d","name":"","topic":"iOptron/autoDisable","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":270,"y":420,"wires":[["1f342b96.0a1c34"]]},{"id":"30ba5e90.07398a","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]