iOptron IO.json
[{"id":"a9d1f5ff.d51478","type":"tab","label":"iOptron IO","disabled":false,"info":""},{"id":"a8072ba5.f70318","type":"comment","z":"a9d1f5ff.d51478","name":"interface to iOptron Telescope Mount","info":"","x":190,"y":60,"wires":[]},{"id":"dbde3b1a.949bc","type":"tcp request","z":"a9d1f5ff.d51478","server":"10.10.100.254","port":"8899","out":"sit","splitc":" ","name":"telescope ","x":420,"y":220,"wires":[["ceb4777d.852b7"]]},{"id":"2f6ca5f.6188ada","type":"switch","z":"a9d1f5ff.d51478","name":"","property":"telRequest","propertyType":"msg","rules":[{"t":"eq","v":"getMntInfo","vt":"str"},{"t":"eq","v":"getCurPos","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":220,"wires":[["c901d0c2.50369"],["6d10f7c3.33808"],["1ee0ca20.3af366","25baaa8f.1fe3ae","dbccf314.9849b"]]},{"id":"1ee0ca20.3af366","type":"debug","z":"a9d1f5ff.d51478","name":"unsolicted","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":380,"wires":[]},{"id":"6d10f7c3.33808","type":"link out","z":"a9d1f5ff.d51478","name":"","links":["6bdd8151.6e937","6c018613.6551d8"],"x":955,"y":180,"wires":[]},{"id":"f6a3da3e.c09dd","type":"comment","z":"a9d1f5ff.d51478","name":"getCurPos","info":"","x":1060,"y":180,"wires":[]},{"id":"c901d0c2.50369","type":"link out","z":"a9d1f5ff.d51478","name":"","links":["4836fe2.4a206","45df4f35.61c158"],"x":955,"y":140,"wires":[]},{"id":"89228dc4.aef6","type":"comment","z":"a9d1f5ff.d51478","name":"getMntInfo","info":"","x":1060,"y":140,"wires":[]},{"id":"25baaa8f.1fe3ae","type":"link out","z":"a9d1f5ff.d51478","name":"","links":["98cf63f6.06829","4e54e3c7.5045b4"],"x":955,"y":260,"wires":[]},{"id":"f48962d3.e4941","type":"comment","z":"a9d1f5ff.d51478","name":"cmdResp","info":"","x":1060,"y":260,"wires":[]},{"id":"98cf63f6.06829","type":"link in","z":"a9d1f5ff.d51478","name":"","links":["25baaa8f.1fe3ae","5a939a8.74629e4","5a601e42.1def9"],"x":115,"y":360,"wires":[["6c125cb1.6252b4"]]},{"id":"b2c0be29.63583","type":"function","z":"a9d1f5ff.d51478","name":"calcArcPos","func":"// Function to convert from decimal degrees to arc seconds\nfunction deg2arc(deg) {\n    deg = parseFloat(deg);\n    deg = Math.abs(deg);\n    var IS_POS = deg >= 0;\n    var minutes = Math.trunc((deg * 3600) / 60);\n    var seconds = Math.trunc((deg * 3600) % 60);\n    var degrees = Math.trunc(minutes / 60);\n    minutes = Math.trunc (minutes % 60);\n    if (deg < 0) degrees = -degrees; \n    var arc = (((degrees * 60* 60) + (minutes * 60) + (seconds) ) * 100);\n    return arc;\n}\n\n// Function to pad with leading zeros\nfunction pad(n, width, z) {\n    z = z || '0';\n    n = n + '';\n    return n.length >= width ? n : new Array(width - n.length + 1 ).join(z) + n;\n}\n\nvar altArc = pad(deg2arc(msg.payload.desiredPosAltDeg),8);\nif (msg.payload.desiredPosAltDeg > 0) \n    {\n        altArc = \"+\" + altArc; }\n    else {\n        altArc = \"-\" + altArc; }\n        \nvar aziArc = pad(deg2arc(msg.payload.desiredPosAziDeg),9);\n\nmsg.payload.desiredPosAltArc = altArc;\nmsg.payload.desiredPosAziArc = aziArc;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1540,"wires":[["f4fd0874.a86ee","5d600c33.d60fa4","d3e1331c.d48198"]]},{"id":"7ab28ca0.113174","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/setSlew","qos":"0","datatype":"json","broker":"30ba5e90.07398a","x":240,"y":1520,"wires":[["b2c0be29.63583"]]},{"id":"fd235d87.772be8","type":"inject","z":"a9d1f5ff.d51478","name":"desiredPos","props":[{"p":"payload.desiredPosAltDeg","v":"32.08","vt":"str"},{"p":"payload.desiredPosAziDeg","v":"248.92","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":240,"y":1620,"wires":[["b2c0be29.63583"]]},{"id":"becbc9fc.1983d8","type":"inject","z":"a9d1f5ff.d51478","name":"Connect","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":240,"y":720,"wires":[["9bde8b1e.a5fdb","57571648.280e88"]]},{"id":"3d80dd70.b29752","type":"inject","z":"a9d1f5ff.d51478","name":"getMntInfo","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":820,"wires":[["9e2ed6ce.32a89"]]},{"id":"2794606f.24c9c","type":"inject","z":"a9d1f5ff.d51478","name":"getCurPos","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":920,"wires":[["4c67cd20.1229dc"]]},{"id":"744440b2.b71f68","type":"simple-queue","z":"a9d1f5ff.d51478","name":"","firstMessageBypass":true,"bypassInterval":"0","x":240,"y":220,"wires":[["dbde3b1a.949bc"]]},{"id":"6c125cb1.6252b4","type":"change","z":"a9d1f5ff.d51478","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"ttl","pt":"msg","to":"4000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":360,"wires":[["744440b2.b71f68"]]},{"id":"8433fc83.ed66d8","type":"inject","z":"a9d1f5ff.d51478","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":440,"wires":[["6c125cb1.6252b4"]]},{"id":"901e06a0.c5d248","type":"inject","z":"a9d1f5ff.d51478","name":"cmdStoTrk","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":1020,"wires":[["36b3bb95.985f8c"]]},{"id":"4c67cd20.1229dc","type":"change","z":"a9d1f5ff.d51478","name":":GAC#","rules":[{"t":"set","p":"payload","pt":"msg","to":":GAC#","tot":"str"},{"t":"set","p":"telRequest","pt":"msg","to":"getCurPos","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":960,"wires":[["fe37f20e.bcc968"]]},{"id":"36b3bb95.985f8c","type":"change","z":"a9d1f5ff.d51478","name":":ST0#","rules":[{"t":"set","p":"payload","pt":"msg","to":":ST0#","tot":"str"},{"t":"set","p":"telRequest","pt":"msg","to":"cmdStoTrk","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1060,"wires":[["fe37f20e.bcc968"]]},{"id":"4b634cde.90a48c","type":"inject","z":"a9d1f5ff.d51478","name":"cmdStaTrk","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":1120,"wires":[["335fd2e.2bfe7ae"]]},{"id":"335fd2e.2bfe7ae","type":"change","z":"a9d1f5ff.d51478","name":":ST1#","rules":[{"t":"set","p":"payload","pt":"msg","to":":ST1#","tot":"str"},{"t":"set","p":"telRequst","pt":"msg","to":"cmdStaTrk","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1120,"wires":[["fe37f20e.bcc968"]]},{"id":"36002f06.f38518","type":"link in","z":"a9d1f5ff.d51478","name":"","links":["fe37f20e.bcc968","5a9e989c.a750a8","f31725a7.614908","22727f79.e29dc","2d9dd81d.f72158"],"x":55,"y":220,"wires":[["744440b2.b71f68"]]},{"id":"bb2c9e84.d2189","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/connect","qos":"0","datatype":"auto","broker":"30ba5e90.07398a","x":240,"y":760,"wires":[["9bde8b1e.a5fdb"]]},{"id":"fe37f20e.bcc968","type":"link out","z":"a9d1f5ff.d51478","name":"","links":["36002f06.f38518"],"x":875,"y":960,"wires":[]},{"id":"ab7340dd.638a68","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/getMntInfo","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":250,"y":860,"wires":[["9e2ed6ce.32a89"]]},{"id":"65d0b348.6f9b84","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/getCurPos","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":250,"y":960,"wires":[["4c67cd20.1229dc"]]},{"id":"7208a13d.157b58","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/cmdStoTrk","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":250,"y":1060,"wires":[["36b3bb95.985f8c"]]},{"id":"22e559bd.703056","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/cmdStaTrk","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":250,"y":1160,"wires":[["335fd2e.2bfe7ae"]]},{"id":"6c018613.6551d8","type":"link in","z":"a9d1f5ff.d51478","name":"","links":["6d10f7c3.33808"],"x":175,"y":620,"wires":[["564e0045.4f9848","3f1fbd28.e1279a"]]},{"id":"45df4f35.61c158","type":"link in","z":"a9d1f5ff.d51478","name":"","links":["c901d0c2.50369"],"x":175,"y":540,"wires":[["7add7287.3d672c","3f1fbd28.e1279a"]]},{"id":"7add7287.3d672c","type":"function","z":"a9d1f5ff.d51478","name":"case mountType","func":"var mountType = \"unknown\";\n\nswitch( msg.payload.response ) {\n    case \"0010\":\n        mountType = \"Cube II EQ\";\n        break;\n    case \"0011\":\n        mountType = \"SmartEQ Pro+\";\n        break;\n    case \"0025\":\n          mountType = \"CEM25(/P)\";\n        break;\n    case \"0026\":\n        mountType = \"CM25-EC\";\n        break;\n    case \"0030\":\n        mountType = \"iEQ30 Pro\";\n        break;\n    case \"0045\":\n        mountType = \"iEQ45 Pro EQ\";\n        break;\n    case \"0060\":\n        mountType = \"CEM60\";\n        break;\n    case \"0061\":\n        mountType = \"CEM60-EC\";\n        break;\n    case \"0121\":\n        mountType = \"CEM120-EC\";\n        break;\n    case \"0122\":\n        mountType = \"CEM120-EC2\";\n        break;\n    case \"5010\":\n        mountType = \"Cube II AA\";\n        break;\n    case \"5035\":\n        mountType = \"AZ Mount Pro\";\n        break;\n    case \"5045\":\n        mountType = \"iEQ45 Pro AA\";\n        break;\n}\n\nmsg.payload.mountType = mountType;\nnode.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":540,"wires":[["c23616b7.4836c","5a939a8.74629e4"]]},{"id":"564e0045.4f9848","type":"function","z":"a9d1f5ff.d51478","name":"calcDecPos","func":"function arc2deg(arc) {\n    arc = parseInt(arc);\n    var degrees = Math.trunc(arc / (3600*100));\n    var seconds = Math.trunc(arc % (3600*100));\n    var subSec1 = Math.trunc(seconds / (360*100));\n    var remain = Math.trunc(seconds % (360*100));\n    var subSec2 = Math.trunc(remain / (360*10));\n    var deg = degrees + \".\" + subSec1 + subSec2;\n    return parseFloat(deg);   \n}\n\n\nvar altitudeArc = msg.payload.response.substring(0,9);\nvar altitudeDeg = arc2deg(altitudeArc);\nvar azimuthArc = msg.payload.response.substring(9,18);\nvar azimuthDeg = arc2deg(azimuthArc);\n\nmsg.payload.altitudeArc = altitudeArc;\nmsg.payload.altitudeDeg = altitudeDeg;\nmsg.payload.azimuthArc = azimuthArc;\nmsg.payload.azimuthDeg = azimuthDeg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":620,"wires":[["5ba11b94.2b6dbc","5a601e42.1def9"]]},{"id":"32a493ce.1665d4","type":"comment","z":"a9d1f5ff.d51478","name":"Requests ","info":"","x":100,"y":180,"wires":[]},{"id":"245eacaf.03e9ac","type":"comment","z":"a9d1f5ff.d51478","name":"Response Message Queue Processing","info":"","x":250,"y":320,"wires":[]},{"id":"166b13d6.81d49c","type":"comment","z":"a9d1f5ff.d51478","name":"Responses","info":"","x":160,"y":500,"wires":[]},{"id":"3fa571e8.3b72be","type":"comment","z":"a9d1f5ff.d51478","name":"Requests","info":"","x":160,"y":680,"wires":[]},{"id":"77cf684b.dc49b8","type":"inject","z":"a9d1f5ff.d51478","name":"resetMsg","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":1220,"wires":[["8d3852f0.98da28"]]},{"id":"c50d1893.b0dc08","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/resetMsg","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":240,"y":1260,"wires":[["8d3852f0.98da28"]]},{"id":"8d3852f0.98da28","type":"change","z":"a9d1f5ff.d51478","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1240,"wires":[["fe37f20e.bcc968"]]},{"id":"769c6822.24091","type":"change","z":"a9d1f5ff.d51478","name":":MSS#","rules":[{"t":"set","p":"payload","pt":"msg","to":":MS#","tot":"str"},{"t":"set","p":"telRequst","pt":"msg","to":"cmdSlew","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1620,"wires":[["22727f79.e29dc"]]},{"id":"f4fd0874.a86ee","type":"change","z":"a9d1f5ff.d51478","name":":Sa#","rules":[{"t":"set","p":"telRequest","pt":"msg","to":"cmdPosAlt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1540,"wires":[["f2c39014.bf37d"]]},{"id":"5d600c33.d60fa4","type":"change","z":"a9d1f5ff.d51478","name":":Sz#","rules":[{"t":"set","p":"telRequest","pt":"msg","to":"cmdPosAzi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1580,"wires":[["5f07ba51.7283ac"]]},{"id":"f2c39014.bf37d","type":"string","z":"a9d1f5ff.d51478","name":"","methods":[{"name":"prepend","params":[{"type":"str","value":":Sa"}]},{"name":"append","params":[{"type":"str","value":"#"}]}],"prop":"payload.desiredPosAltArc","propout":"payload","object":"msg","objectout":"msg","x":730,"y":1540,"wires":[["6b9b5337.80964c","22727f79.e29dc"]]},{"id":"5f07ba51.7283ac","type":"string","z":"a9d1f5ff.d51478","name":"","methods":[{"name":"prepend","params":[{"type":"str","value":":Sz"}]},{"name":"append","params":[{"type":"str","value":"#"}]}],"prop":"payload.desiredPosAziArc","propout":"payload","object":"msg","objectout":"msg","x":730,"y":1580,"wires":[["318fe3b.df87f9c","22727f79.e29dc"]]},{"id":"c23616b7.4836c","type":"mqtt out","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/outMountType","qos":"","retain":"","broker":"30ba5e90.07398a","x":680,"y":500,"wires":[]},{"id":"5ba11b94.2b6dbc","type":"mqtt out","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/outCurPos","qos":"","retain":"","broker":"30ba5e90.07398a","x":670,"y":580,"wires":[]},{"id":"9e2ed6ce.32a89","type":"change","z":"a9d1f5ff.d51478","name":":MountInfo#","rules":[{"t":"set","p":"payload","pt":"msg","to":":MountInfo#","tot":"str"},{"t":"set","p":"telRequest","pt":"msg","to":"getMntInfo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":860,"wires":[["fe37f20e.bcc968"]]},{"id":"5a601e42.1def9","type":"link out","z":"a9d1f5ff.d51478","name":"","links":["98cf63f6.06829"],"x":595,"y":620,"wires":[]},{"id":"5a939a8.74629e4","type":"link out","z":"a9d1f5ff.d51478","name":"","links":["98cf63f6.06829"],"x":595,"y":540,"wires":[]},{"id":"ceb4777d.852b7","type":"function","z":"a9d1f5ff.d51478","name":"toString","func":"msg.payload = msg.payload.toString('utf8');\nmsg.payload = \"response:\" + msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":220,"wires":[["46ce4ffc.ee0f68"]]},{"id":"46ce4ffc.ee0f68","type":"function","z":"a9d1f5ff.d51478","name":"S2O","func":"const str2obj = str => {\n  return str\n    .split(',')\n    .map(keyVal => {\n      return keyVal\n        .split(':')\n        .map(_ => _.trim())\n    })\n    .reduce((accumulator, currentValue) => {\n      accumulator[currentValue[0]] = currentValue[1]\n      return accumulator\n    }, {})\n}\nmsg.payload = str2obj(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":220,"wires":[["2f6ca5f.6188ada"]]},{"id":"dbccf314.9849b","type":"mqtt out","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/status","qos":"","retain":"","broker":"30ba5e90.07398a","x":1220,"y":260,"wires":[]},{"id":"fd9e3c0.4de3648","type":"inject","z":"a9d1f5ff.d51478","name":"desiredPos","props":[{"p":"payload.desiredPosAltDeg","v":"30","vt":"str"},{"p":"payload.desiredPosAziDeg","v":"180","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":240,"y":1680,"wires":[["b2c0be29.63583"]]},{"id":"500e8acd.0406ac","type":"inject","z":"a9d1f5ff.d51478","name":"desiredPos","props":[{"p":"payload.desiredPosAltDeg","v":"20","vt":"str"},{"p":"payload.desiredPosAziDeg","v":"350","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":1740,"wires":[["b2c0be29.63583"]]},{"id":"cf9739ae.1bf1a8","type":"inject","z":"a9d1f5ff.d51478","name":"cmdStoSlew","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":1320,"wires":[["840c1e76.e5c2f8"]]},{"id":"4f280a29.146334","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/cmdStoSlew","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":260,"y":1360,"wires":[["840c1e76.e5c2f8"]]},{"id":"840c1e76.e5c2f8","type":"change","z":"a9d1f5ff.d51478","name":":Q#","rules":[{"t":"set","p":"payload","pt":"msg","to":":Q#","tot":"str"},{"t":"set","p":"telRequst","pt":"msg","to":"cmdStaTrk","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1340,"wires":[["fe37f20e.bcc968"]]},{"id":"6b9b5337.80964c","type":"debug","z":"a9d1f5ff.d51478","name":":Sa","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1540,"wires":[]},{"id":"318fe3b.df87f9c","type":"debug","z":"a9d1f5ff.d51478","name":":Sz","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1580,"wires":[]},{"id":"8f36986.00ea6e8","type":"link in","z":"a9d1f5ff.d51478","name":"","links":["5a9e989c.a750a8","f31725a7.614908","9bde8b1e.a5fdb","2d9dd81d.f72158"],"x":275,"y":160,"wires":[["dbde3b1a.949bc"]]},{"id":"9bde8b1e.a5fdb","type":"link out","z":"a9d1f5ff.d51478","name":"","links":["8f36986.00ea6e8"],"x":455,"y":720,"wires":[]},{"id":"22727f79.e29dc","type":"link out","z":"a9d1f5ff.d51478","name":"","links":["36002f06.f38518"],"x":975,"y":1560,"wires":[]},{"id":"d3e1331c.d48198","type":"delay","z":"a9d1f5ff.d51478","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":1620,"wires":[["769c6822.24091"]]},{"id":"57571648.280e88","type":"delay","z":"a9d1f5ff.d51478","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":780,"wires":[["9e2ed6ce.32a89","564dcee2.9c079"]]},{"id":"564dcee2.9c079","type":"delay","z":"a9d1f5ff.d51478","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":780,"wires":[["4c67cd20.1229dc","e426627c.c20b88"]]},{"id":"e426627c.c20b88","type":"delay","z":"a9d1f5ff.d51478","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":780,"wires":[["36b3bb95.985f8c"]]},{"id":"3f1fbd28.e1279a","type":"mqtt out","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/status","qos":"","retain":"","broker":"30ba5e90.07398a","x":320,"y":580,"wires":[]},{"id":"70efa5f3.05a06c","type":"inject","z":"a9d1f5ff.d51478","name":"cmdStoSlew","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":1420,"wires":[[]]},{"id":"20518780.edca9","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"iOptron/cmdSetHome","qos":"2","datatype":"auto","broker":"30ba5e90.07398a","x":260,"y":1460,"wires":[[]]},{"id":"30ba5e90.07398a","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]