Mac Logger MacDoppler Reports.json
[{"id":"510a63de.6a4114","type":"tab","label":"MacDoppler MacLogger Reports","disabled":false,"info":""},{"id":"535c238a.8235d4","type":"udp in","z":"510a63de.6a4114","name":"MacDoppler UDP 9932","iface":"","port":"9932","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":140,"y":80,"wires":[["f5c768d6.0e86e"]]},{"id":"f5c768d6.0e86e","type":"link out","z":"510a63de.6a4114","name":"Dogpark UDP Broadcast","links":["283150a.473e93","4a8cc533.a6b02c","68170ff2.47c85","7cd9761d.6c6268","f3e51bbd.479fc","dd7d71e1.c9fca8","abd4ded5.24942","2653cb90.d47ae4","dba74049.648eb8","962cefa1.d43678","bd8f1d12.18b75","3f59b914.1e1bfe","faf74149.41dbd8","88df9653.d8ae68","1df250b8.903d4f","f6bca23b.16c048","83e10ce5.e8e13","f6c74fde.f2b4e","a271f165.4a8888"],"x":315,"y":80,"wires":[]},{"id":"e284820d.677b","type":"comment","z":"510a63de.6a4114","name":"MacDoppler Outputs a UDP Stream on Port 9932","info":"Author:     Dwayne Sinclair AB6A \n\nDate:       2/1/2021\nVersion:    0.1\n\nDescription:\nWe listen to this stream and capture the Elevation, Azimuth, and Satellite Name.\n\nTBD: Format for Goto Telescope Mount\n","x":220,"y":20,"wires":[]},{"id":"a271f165.4a8888","type":"link in","z":"510a63de.6a4114","name":"DogPark Rotor","links":["bd0cd66e.8ce69","f5c768d6.0e86e"],"x":75,"y":180,"wires":[["e05fbe8a.7d9248"]]},{"id":"e05fbe8a.7d9248","type":"string","z":"510a63de.6a4114","name":"delRight","methods":[{"name":"delRightMost","params":[{"type":"str","value":"]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":200,"y":180,"wires":[["c4f599b7.6657f"]]},{"id":"c4f599b7.6657f","type":"split","z":"510a63de.6a4114","name":"","splt":"[","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":false,"addname":"","x":370,"y":180,"wires":[["472a3341.e1ef24","bcfe2cf8.6a7628"]]},{"id":"472a3341.e1ef24","type":"switch","z":"510a63de.6a4114","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":320,"wires":[["d7cc1de4.59f3f8"],["f9103c0.721eb48"]]},{"id":"d7cc1de4.59f3f8","type":"string","z":"510a63de.6a4114","name":"getMsgId","methods":[{"name":"getLeftMost","params":[{"type":"str","value":" "}]},{"name":"toInteger","params":[]}],"prop":"payload","propout":"reportMsgId","object":"msg","objectout":"msg","x":380,"y":280,"wires":[["edc62c4e.d826e"]]},{"id":"3ad79e04.8541b2","type":"comment","z":"510a63de.6a4114","name":"Format MacDoppler / MacLogger UDP Messages","info":"","x":240,"y":140,"wires":[]},{"id":"f2634f48.1d52a8","type":"function","z":"510a63de.6a4114","name":"S2O","func":"const str2obj = str => {\n  return str\n    .split(',')\n    .map(keyVal => {\n      return keyVal\n        .split(':')\n        .map(_ => _.trim())\n    })\n    .reduce((accumulator, currentValue) => {\n      accumulator[currentValue[0]] = currentValue[1]\n      return accumulator\n    }, {})\n}\nmsg.payload = str2obj(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":520,"wires":[["3f6d2f52.1f4aa8","a0526f7d.54549"]]},{"id":"3f6d2f52.1f4aa8","type":"debug","z":"510a63de.6a4114","name":"msg.object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":580,"wires":[]},{"id":"bcfe2cf8.6a7628","type":"debug","z":"510a63de.6a4114","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"e3cf221a.273af","type":"switch","z":"510a63de.6a4114","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"Spot Report","vt":"str"},{"t":"eq","v":"Radio Report","vt":"str"},{"t":"eq","v":"Sat Radio Report","vt":"str"},{"t":"eq","v":"AzEl Rotor Report","vt":"str"},{"t":"eq","v":"SpotTune","vt":"str"},{"t":"eq","v":"Log Report","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":550,"y":520,"wires":[["6dd26d9b.d2db34","cf5cb3b3.d8a5c"],["aa531480.84a28","28947eb0.ed9622"],["a6cc2e79.0c51f","fba799ea.c69fa"],["83c63e83.3c013","cf39ee84.879ec"],["d62ee965.094c18","3fb2ccea.35cf6c"],["ed6d3462.6f767","a51de7d3.9ae2a"]]},{"id":"6dd26d9b.d2db34","type":"link out","z":"510a63de.6a4114","name":"Sport Report","links":["ee9d81b5.e747b"],"x":755,"y":440,"wires":[]},{"id":"aa531480.84a28","type":"link out","z":"510a63de.6a4114","name":"","links":["edbc7cc1.c4686"],"x":755,"y":480,"wires":[]},{"id":"fba799ea.c69fa","type":"link out","z":"510a63de.6a4114","name":"","links":["13f319d2.4d12ee"],"x":755,"y":520,"wires":[]},{"id":"83c63e83.3c013","type":"link out","z":"510a63de.6a4114","name":"","links":["730a11fc.1ce2e8","39b96c5d.8f4bec"],"x":755,"y":560,"wires":[]},{"id":"d62ee965.094c18","type":"link out","z":"510a63de.6a4114","name":"","links":["3eac7c77.e20294"],"x":755,"y":600,"wires":[]},{"id":"ed6d3462.6f767","type":"link out","z":"510a63de.6a4114","name":"","links":["2945665.534929a"],"x":755,"y":640,"wires":[]},{"id":"cf5cb3b3.d8a5c","type":"debug","z":"510a63de.6a4114","name":"Spot Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":440,"wires":[]},{"id":"28947eb0.ed9622","type":"debug","z":"510a63de.6a4114","name":"Radio Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":480,"wires":[]},{"id":"a6cc2e79.0c51f","type":"debug","z":"510a63de.6a4114","name":"Sat Radio Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":520,"wires":[]},{"id":"cf39ee84.879ec","type":"debug","z":"510a63de.6a4114","name":"Rotor Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":560,"wires":[]},{"id":"3fb2ccea.35cf6c","type":"debug","z":"510a63de.6a4114","name":"SpotTune","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":600,"wires":[]},{"id":"a51de7d3.9ae2a","type":"debug","z":"510a63de.6a4114","name":"Log Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":640,"wires":[]},{"id":"f9103c0.721eb48","type":"string","z":"510a63de.6a4114","name":"getPayload","methods":[{"name":"getLeftMost","params":[{"type":"str","value":":"}]},{"name":"trimRight","params":[]}],"prop":"payload","propout":"type","object":"msg","objectout":"msg","x":390,"y":360,"wires":[["e91855ba.51bbe8"]]},{"id":"39b96c5d.8f4bec","type":"link in","z":"510a63de.6a4114","name":"","links":["83c63e83.3c013"],"x":155,"y":1280,"wires":[["123cfdae.1321c2"]]},{"id":"38b2a253.be134e","type":"comment","z":"510a63de.6a4114","name":"Rotor Report","info":"","x":190,"y":1200,"wires":[]},{"id":"ee9d81b5.e747b","type":"link in","z":"510a63de.6a4114","name":"","links":["6dd26d9b.d2db34"],"x":155,"y":780,"wires":[["12321e81.86d461"]]},{"id":"185a9982.4a017e","type":"comment","z":"510a63de.6a4114","name":"Spot Report","info":"","x":190,"y":720,"wires":[]},{"id":"edbc7cc1.c4686","type":"link in","z":"510a63de.6a4114","name":"","links":["aa531480.84a28"],"x":155,"y":940,"wires":[["54487308.0ed864"]]},{"id":"3e2ec759.d01c9","type":"comment","z":"510a63de.6a4114","name":"Radio Report","info":"","x":190,"y":880,"wires":[]},{"id":"13f319d2.4d12ee","type":"link in","z":"510a63de.6a4114","name":"","links":["fba799ea.c69fa"],"x":155,"y":1100,"wires":[["f2df8aec.da8ba8"]]},{"id":"1adf41ad.ac461e","type":"comment","z":"510a63de.6a4114","name":"Sat Radio Report","info":"","x":200,"y":1040,"wires":[]},{"id":"3eac7c77.e20294","type":"link in","z":"510a63de.6a4114","name":"","links":["d62ee965.094c18"],"x":155,"y":1440,"wires":[["9c6643f1.526b18"]]},{"id":"277893f0.2954b4","type":"comment","z":"510a63de.6a4114","name":"SpotTune Report","info":"","x":200,"y":1380,"wires":[]},{"id":"2945665.534929a","type":"link in","z":"510a63de.6a4114","name":"","links":["ed6d3462.6f767"],"x":155,"y":1600,"wires":[["386a6496.511e7c"]]},{"id":"61750825.313c78","type":"comment","z":"510a63de.6a4114","name":"Log Report","info":"","x":180,"y":1540,"wires":[]},{"id":"edc62c4e.d826e","type":"change","z":"510a63de.6a4114","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":280,"wires":[["8bdce1be.db108"]]},{"id":"8bdce1be.db108","type":"join","z":"510a63de.6a4114","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":320,"wires":[["34104968.1a6c86","f2634f48.1d52a8"]]},{"id":"e91855ba.51bbe8","type":"string","z":"510a63de.6a4114","name":"delLeft","methods":[{"name":"delLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":550,"y":360,"wires":[["8bdce1be.db108"]]},{"id":"43fb086d.e5b7b","type":"comment","z":"510a63de.6a4114","name":"This is the flow I am using so note the use if values have changed.","info":"","x":460,"y":1240,"wires":[]},{"id":"51ae8772.7de988","type":"comment","z":"510a63de.6a4114","name":" toNumbers - Note the format using [ ] and \" \" to access key names with spaces.","info":"","x":600,"y":1040,"wires":[]},{"id":"34104968.1a6c86","type":"debug","z":"510a63de.6a4114","name":"msg.object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":320,"wires":[]},{"id":"a0526f7d.54549","type":"change","z":"510a63de.6a4114","name":"toNums","rules":[{"t":"set","p":"payload.Azimuth","pt":"msg","to":"$number(msg.payload.Azimuth)\t","tot":"jsonata"},{"t":"set","p":"payload.Elevation","pt":"msg","to":"$number(msg.payload.Elevation)","tot":"jsonata"},{"t":"set","p":"payload.tone","pt":"msg","to":"$number(msg.payload.tone)","tot":"jsonata"},{"t":"set","p":"payload.ctone","pt":"msg","to":"$number(msg.payload.ctone)","tot":"jsonata"},{"t":"set","p":"payload[\"Down Mhz\"]","pt":"msg","to":"$number(msg.payload.\"Down Mhz\")","tot":"jsonata"},{"t":"set","p":"payload[\"Down MHz\"]","pt":"msg","to":"$number(msg.payload.\"Down MHz\")","tot":"jsonata"},{"t":"set","p":"payload[\"Up MHz\"]","pt":"msg","to":"$number(msg.payload.\"Up MHz\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":520,"wires":[["e3cf221a.273af"]],"info":"# djs 02/21\nI have not put all the possible combinations of string to nums. Add more as needed."},{"id":"123cfdae.1321c2","type":"rbe","z":"510a63de.6a4114","name":"","func":"rbe","gap":"5","start":"","inout":"in","property":"payload","x":270,"y":1280,"wires":[["efeddd3f.7b456"]]},{"id":"efeddd3f.7b456","type":"mqtt out","z":"510a63de.6a4114","name":"","topic":"dogpark/rotorReport","qos":"0","retain":"","broker":"30ba5e90.07398a","x":460,"y":1280,"wires":[]},{"id":"9c6643f1.526b18","type":"mqtt out","z":"510a63de.6a4114","name":"","topic":"dogpark/spotReport","qos":"0","retain":"","broker":"30ba5e90.07398a","x":320,"y":1440,"wires":[]},{"id":"12321e81.86d461","type":"mqtt out","z":"510a63de.6a4114","name":"","topic":"dogpark/spotReport","qos":"0","retain":"","broker":"30ba5e90.07398a","x":320,"y":780,"wires":[]},{"id":"386a6496.511e7c","type":"mqtt out","z":"510a63de.6a4114","name":"","topic":"dogpark/logReport","qos":"0","retain":"","broker":"30ba5e90.07398a","x":310,"y":1600,"wires":[]},{"id":"d8d64fda.2bef","type":"mqtt out","z":"510a63de.6a4114","name":"","topic":"dogpark/satRadioReport","qos":"0","retain":"","broker":"30ba5e90.07398a","x":470,"y":1100,"wires":[]},{"id":"ee636813.5f583","type":"mqtt out","z":"510a63de.6a4114","name":"","topic":"dogpark/radioReport","qos":"0","retain":"","broker":"30ba5e90.07398a","x":460,"y":940,"wires":[]},{"id":"f2df8aec.da8ba8","type":"rbe","z":"510a63de.6a4114","name":"","func":"rbe","gap":"5","start":"","inout":"in","property":"payload","x":270,"y":1100,"wires":[["d8d64fda.2bef"]]},{"id":"54487308.0ed864","type":"rbe","z":"510a63de.6a4114","name":"","func":"rbe","gap":"5","start":"","inout":"in","property":"payload","x":270,"y":940,"wires":[["ee636813.5f583"]]},{"id":"d470a39a.4b9ed8","type":"udp in","z":"510a63de.6a4114","name":"","iface":"","port":"7831","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":1780,"wires":[["d4962c6d.8af8d8"]]},{"id":"1a0a5f16.7076c9","type":"udp in","z":"510a63de.6a4114","name":"","iface":"","port":"7832","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":1820,"wires":[["d4962c6d.8af8d8"]]},{"id":"bb379901.7b36e","type":"udp in","z":"510a63de.6a4114","name":"","iface":"","port":"7833","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":1860,"wires":[["d4962c6d.8af8d8"]]},{"id":"102150d8.bc5077","type":"udp in","z":"510a63de.6a4114","name":"","iface":"","port":"7834","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":1900,"wires":[["d4962c6d.8af8d8"]]},{"id":"d4962c6d.8af8d8","type":"udp out","z":"510a63de.6a4114","name":"","addr":"192.168.86.255","iface":"","port":"2237","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":470,"y":1920,"wires":[]},{"id":"81537ab8.c354f","type":"comment","z":"510a63de.6a4114","name":"SliceMaster WSJT-X Default Spot Report Ports","info":"Slicemaster sets up WSKT-X configuration to use these port numbers. Instead of modifying each WSJT-X config, we just redirect to a common port.","x":280,"y":1700,"wires":[]},{"id":"f87b9a19.654448","type":"comment","z":"510a63de.6a4114","name":"Redirected to Broadcast on Local Subnet Port 2237","info":"","x":530,"y":1840,"wires":[]},{"id":"d3764bc5.408178","type":"udp in","z":"510a63de.6a4114","name":"","iface":"","port":"7835","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":1940,"wires":[["d4962c6d.8af8d8"]]},{"id":"2b79364.3222fca","type":"udp in","z":"510a63de.6a4114","name":"","iface":"","port":"7836","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":1980,"wires":[["d4962c6d.8af8d8"]]},{"id":"4cfda2cf.4243b4","type":"udp in","z":"510a63de.6a4114","name":"","iface":"","port":"7837","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":2020,"wires":[["d4962c6d.8af8d8"]]},{"id":"9fdf9f.1c4c306","type":"udp in","z":"510a63de.6a4114","name":"","iface":"","port":"7838","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":2060,"wires":[["d4962c6d.8af8d8"]]},{"id":"56a9e0c2.6dda78","type":"comment","z":"510a63de.6a4114","name":"Update to your local network.","info":"","x":460,"y":1880,"wires":[]},{"id":"30ba5e90.07398a","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]