MacDoppler MacLogger Flows.json
[{"id":"db798e01.32c89","type":"tab","label":"MacDoppler / MacLoggerDX","disabled":false,"info":""},{"id":"2861ed9b.f74f92","type":"udp in","z":"db798e01.32c89","name":"MacDoppler UDP 9932","iface":"","port":"9932","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":140,"y":80,"wires":[["cbe3c7dd.ea2f98"]]},{"id":"cbe3c7dd.ea2f98","type":"link out","z":"db798e01.32c89","name":"Dogpark UDP Broadcast","links":["283150a.473e93","4a8cc533.a6b02c","68170ff2.47c85","7cd9761d.6c6268","f3e51bbd.479fc","b7e6f3ca.1905d","abd4ded5.24942","2653cb90.d47ae4","dba74049.648eb8","6ad643ca.5f02f4","bd8f1d12.18b75","b119049f.8622a","5bf24d88.4d64ec","bb6b3136.95d4c8","735a0346.af8fec","f6bca23b.16c048","e12732e0.45a86","f6c74fde.f2b4e"],"x":315,"y":80,"wires":[]},{"id":"90f8676f.672df","type":"switch","z":"db798e01.32c89","name":"Rotor","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"[AzEl Rotor Report","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":160,"wires":[["91802c37.99b64"]]},{"id":"91802c37.99b64","type":"function","z":"db798e01.32c89","name":"toString","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":160,"wires":[["39e67dea.717d62"]]},{"id":"7cdda5a5.d303f4","type":"switch","z":"db798e01.32c89","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":400,"wires":[["7e0a604c.2c75c"],["10bd0646.e94522"],["527ee34e.4212e4"]]},{"id":"febd790.4097408","type":"split","z":"db798e01.32c89","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":370,"y":240,"wires":[["7cdda5a5.d303f4"]]},{"id":"8af809d8.ea35","type":"debug","z":"db798e01.32c89","name":"RO Out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":260,"wires":[]},{"id":"31106f10.1c791","type":"debug","z":"db798e01.32c89","name":"RO Out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":360,"wires":[]},{"id":"ec50ead0.8d5708","type":"debug","z":"db798e01.32c89","name":"RO Out 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":460,"wires":[]},{"id":"7e0a604c.2c75c","type":"string","z":"db798e01.32c89","name":"Azimuth:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Azimuth:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":300,"wires":[["6b11272d.21049"]]},{"id":"10bd0646.e94522","type":"string","z":"db798e01.32c89","name":"Elevation:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Elevation:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":400,"wires":[["d0269542.e9fc58"]]},{"id":"527ee34e.4212e4","type":"string","z":"db798e01.32c89","name":"SatName:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"SatName:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":500,"wires":[["e285472d.b9247"]]},{"id":"39e67dea.717d62","type":"string","z":"db798e01.32c89","name":"delRight","methods":[{"name":"delRightMost","params":[{"type":"str","value":"]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":520,"y":160,"wires":[["b1663ed9.966168"]]},{"id":"b1663ed9.966168","type":"string","z":"db798e01.32c89","name":"delLeft","methods":[{"name":"delLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":670,"y":160,"wires":[["febd790.4097408","b9e45480.dc62"]]},{"id":"b9e45480.dc62","type":"debug","z":"db798e01.32c89","name":"Rotor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"ab84664a.23594","type":"change","z":"db798e01.32c89","name":"","rules":[{"t":"set","p":"macdoppler.azimuth","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":300,"wires":[["4684d40c.ece9d4"]]},{"id":"3df669d5.9bbfce","type":"change","z":"db798e01.32c89","name":"","rules":[{"t":"set","p":"macdoppler.elevation","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":400,"wires":[["4684d40c.ece9d4"]]},{"id":"83dc1990.043d7","type":"change","z":"db798e01.32c89","name":"","rules":[{"t":"set","p":"macdoppler.roSatName","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":500,"wires":[["4684d40c.ece9d4"]]},{"id":"1746122f.f311ee","type":"comment","z":"db798e01.32c89","name":"MacDoppler Outputs a UDP Stream on Port 9932","info":"Author:     Dwayne Sinclair AB6A \n\nDate:       2/1/2021\nVersion:    0.1\n\nDescription:\nWe listen to this stream and capture the Elevation, Azimuth, and Satellite Name.\n\nTBD: Format for Goto Telescope Mount\n","x":220,"y":20,"wires":[]},{"id":"4684d40c.ece9d4","type":"link out","z":"db798e01.32c89","name":"","links":["f065836b.61fd2"],"x":1475,"y":500,"wires":[]},{"id":"d1b02055.6e448","type":"change","z":"db798e01.32c89","name":"RO NUM 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["3df669d5.9bbfce","31106f10.1c791"]]},{"id":"9a08207.59f6ee","type":"change","z":"db798e01.32c89","name":"RO Num 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":300,"wires":[["ab84664a.23594","8af809d8.ea35"]]},{"id":"6b11272d.21049","type":"rbe","z":"db798e01.32c89","name":"","func":"rbe","gap":"5","start":"","inout":"in","property":"payload","x":750,"y":300,"wires":[["9a08207.59f6ee"]]},{"id":"d0269542.e9fc58","type":"rbe","z":"db798e01.32c89","name":"","func":"rbe","gap":"5","start":"","inout":"in","property":"payload","x":750,"y":400,"wires":[["d1b02055.6e448"]]},{"id":"e285472d.b9247","type":"rbe","z":"db798e01.32c89","name":"","func":"rbe","gap":"5","start":"","inout":"in","property":"payload","x":750,"y":500,"wires":[["ec50ead0.8d5708","83dc1990.043d7"]]},{"id":"a68a0378.355d48","type":"switch","z":"db798e01.32c89","name":"Satellites","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"[Sat Radio Report:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":680,"wires":[["ef1c0455.4f2b4"]]},{"id":"b7e6f3ca.1905d","type":"link in","z":"db798e01.32c89","name":"DogPark Rotor","links":["bd0cd66e.8ce69","cbe3c7dd.ea2f98"],"x":95,"y":160,"wires":[["90f8676f.672df"]]},{"id":"6ad643ca.5f02f4","type":"link in","z":"db798e01.32c89","name":"DogPark Rotor","links":["bd0cd66e.8ce69","cbe3c7dd.ea2f98"],"x":75,"y":680,"wires":[["a68a0378.355d48"]]},{"id":"ef1c0455.4f2b4","type":"function","z":"db798e01.32c89","name":"toString","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":680,"wires":[["66453ebc.9fa65"]]},{"id":"66453ebc.9fa65","type":"string","z":"db798e01.32c89","name":"delRight","methods":[{"name":"delRightMost","params":[{"type":"str","value":"]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":520,"y":680,"wires":[["79aca241.967584"]]},{"id":"79aca241.967584","type":"string","z":"db798e01.32c89","name":"delLeft","methods":[{"name":"delLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":670,"y":680,"wires":[["bde7758c.06f138","56315ff3.1beae"]]},{"id":"bde7758c.06f138","type":"split","z":"db798e01.32c89","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":370,"y":760,"wires":[["318097ee.004508"]]},{"id":"56315ff3.1beae","type":"debug","z":"db798e01.32c89","name":"Satellites","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":680,"wires":[]},{"id":"318097ee.004508","type":"switch","z":"db798e01.32c89","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":370,"y":1000,"wires":[["14f6de5a.de5c0a"],["d867da95.598978"],["33137eb4.b4e252"],["11241925.6f47df"],["6be491ec.e0aed8"],["89191d89.983968"],["453bf24c.c8d69c"]]},{"id":"14f6de5a.de5c0a","type":"string","z":"db798e01.32c89","name":"Down Mhz","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"z:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":820,"wires":[["edc46b18.0cad2"]]},{"id":"d867da95.598978","type":"string","z":"db798e01.32c89","name":"Down Mode:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Down Mode:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":880,"wires":[["4a597e8.47198"]]},{"id":"33137eb4.b4e252","type":"string","z":"db798e01.32c89","name":"Up MHz","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Up MHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":940,"wires":[["8cf8513e.590d2"]]},{"id":"6be491ec.e0aed8","type":"string","z":"db798e01.32c89","name":"tone:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"tone:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":1060,"wires":[["c66fc46e.e08c7"]]},{"id":"89191d89.983968","type":"string","z":"db798e01.32c89","name":"ctone:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"ctone:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":1120,"wires":[["8ef9cf62.4767d"]]},{"id":"453bf24c.c8d69c","type":"string","z":"db798e01.32c89","name":"SatName:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"SatName:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":1180,"wires":[["659ce151.fb35e8"]]},{"id":"11241925.6f47df","type":"string","z":"db798e01.32c89","name":"Up Mode:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Up Mode:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":1000,"wires":[["4023a881.de6378"]]},{"id":"edc46b18.0cad2","type":"change","z":"db798e01.32c89","name":"SA Num 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":820,"wires":[["f21a93b8.0ed978"]]},{"id":"8cf8513e.590d2","type":"change","z":"db798e01.32c89","name":"SA Num 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":940,"wires":[["e8141e02.3fb4f"]]},{"id":"c66fc46e.e08c7","type":"change","z":"db798e01.32c89","name":"SA Num 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1060,"wires":[["5d0e5174.8a3a2"]]},{"id":"8ef9cf62.4767d","type":"change","z":"db798e01.32c89","name":"SA Num 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1120,"wires":[["637d7f49.c148b8"]]},{"id":"f21a93b8.0ed978","type":"debug","z":"db798e01.32c89","name":"SA Out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":820,"wires":[]},{"id":"4a597e8.47198","type":"debug","z":"db798e01.32c89","name":"SA Out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":880,"wires":[]},{"id":"e8141e02.3fb4f","type":"debug","z":"db798e01.32c89","name":"SA Out 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":940,"wires":[]},{"id":"4023a881.de6378","type":"debug","z":"db798e01.32c89","name":"SA Out 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1000,"wires":[]},{"id":"5d0e5174.8a3a2","type":"debug","z":"db798e01.32c89","name":"SA Out 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1060,"wires":[]},{"id":"637d7f49.c148b8","type":"debug","z":"db798e01.32c89","name":"SA Out 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1120,"wires":[]},{"id":"659ce151.fb35e8","type":"debug","z":"db798e01.32c89","name":"SA Out 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1180,"wires":[]},{"id":"4cf761a3.a9bef","type":"switch","z":"db798e01.32c89","name":"Radio Report:Rx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Radio Report:Rx","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":1840,"wires":[["9eb33b9e.f8cb1"]]},{"id":"5bf24d88.4d64ec","type":"link in","z":"db798e01.32c89","name":"DogPark Rotor","links":["bd0cd66e.8ce69","cbe3c7dd.ea2f98"],"x":55,"y":1840,"wires":[["4cf761a3.a9bef"]]},{"id":"9eb33b9e.f8cb1","type":"function","z":"db798e01.32c89","name":"toString","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1840,"wires":[["7f147f83.496fb8","d00d2798.0ceba"]]},{"id":"7f147f83.496fb8","type":"debug","z":"db798e01.32c89","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1840,"wires":[]},{"id":"d00d2798.0ceba","type":"string","z":"db798e01.32c89","name":"delRight","methods":[{"name":"delRightMost","params":[{"type":"str","value":"]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":380,"y":1900,"wires":[["13372196.23b736"]]},{"id":"13372196.23b736","type":"string","z":"db798e01.32c89","name":"delLeft","methods":[{"name":"delLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":370,"y":1960,"wires":[["95afaf2e.e07c78","cfff8662.6ef158"]]},{"id":"95afaf2e.e07c78","type":"debug","z":"db798e01.32c89","name":"Radio Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1960,"wires":[]},{"id":"cfff8662.6ef158","type":"split","z":"db798e01.32c89","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":370,"y":2020,"wires":[["2508897a.cec196"]]},{"id":"2508897a.cec196","type":"switch","z":"db798e01.32c89","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":370,"y":2200,"wires":[["b1a6139e.ce5d3"],["320ce551.222542"],["84928002.3fc6a8"],["79e87e83.9f089"],["d37f077d.d5515"]]},{"id":"b1a6139e.ce5d3","type":"string","z":"db798e01.32c89","name":"RxMHz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"RxMHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":2080,"wires":[["ca8db37f.dc5f6"]]},{"id":"ca8db37f.dc5f6","type":"change","z":"db798e01.32c89","name":"RR Num 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2080,"wires":[["3bbe978d.4a7cd8"]]},{"id":"3bbe978d.4a7cd8","type":"debug","z":"db798e01.32c89","name":"RR Out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2080,"wires":[]},{"id":"320ce551.222542","type":"string","z":"db798e01.32c89","name":"TxMHz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"TxMHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":2140,"wires":[["34fe0657.5f89ba"]]},{"id":"34fe0657.5f89ba","type":"change","z":"db798e01.32c89","name":"RR Num 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2140,"wires":[["9c46a254.4b7ba8"]]},{"id":"9c46a254.4b7ba8","type":"debug","z":"db798e01.32c89","name":"RR Out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2140,"wires":[]},{"id":"84928002.3fc6a8","type":"string","z":"db798e01.32c89","name":"Band:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Band:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":2200,"wires":[["3d1f7d25.a6afca"]]},{"id":"3d1f7d25.a6afca","type":"debug","z":"db798e01.32c89","name":"RR Out 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2200,"wires":[]},{"id":"79e87e83.9f089","type":"string","z":"db798e01.32c89","name":"Mode:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Mode:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":2260,"wires":[["14267b72.2e3d2d"]]},{"id":"14267b72.2e3d2d","type":"debug","z":"db798e01.32c89","name":"RR Out 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2260,"wires":[]},{"id":"d37f077d.d5515","type":"string","z":"db798e01.32c89","name":"Power:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Power:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":2320,"wires":[["6aefe734.4aeb18"]]},{"id":"e16199b4.8fb358","type":"debug","z":"db798e01.32c89","name":"RR Out 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2320,"wires":[]},{"id":"6aefe734.4aeb18","type":"change","z":"db798e01.32c89","name":"RR Num 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2320,"wires":[["e16199b4.8fb358"]]},{"id":"93aaded6.abad08","type":"switch","z":"db798e01.32c89","name":"Spot Tune","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"SpotTune:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":2980,"wires":[["522c5478.b9a244"]]},{"id":"bb6b3136.95d4c8","type":"link in","z":"db798e01.32c89","name":"DogPark Rotor","links":["bd0cd66e.8ce69","cbe3c7dd.ea2f98"],"x":55,"y":2980,"wires":[["93aaded6.abad08"]]},{"id":"522c5478.b9a244","type":"function","z":"db798e01.32c89","name":"toString","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":2980,"wires":[["d5390383.059548"]]},{"id":"d5390383.059548","type":"string","z":"db798e01.32c89","name":"delRight","methods":[{"name":"delRightMost","params":[{"type":"str","value":"]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":520,"y":2980,"wires":[["ebb427ca.cfc96"]]},{"id":"ebb427ca.cfc96","type":"string","z":"db798e01.32c89","name":"delLeft","methods":[{"name":"delLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":670,"y":2980,"wires":[["565e76df.4daf18","475c6723.934998"]]},{"id":"565e76df.4daf18","type":"debug","z":"db798e01.32c89","name":"Spot Tune","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":2980,"wires":[]},{"id":"475c6723.934998","type":"split","z":"db798e01.32c89","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":370,"y":3060,"wires":[["3492a98e.efe01e"]]},{"id":"3492a98e.efe01e","type":"switch","z":"db798e01.32c89","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":370,"y":3240,"wires":[["5cf92c32.258ee4"],["cb44c492.3d6b"],["a9869555.1e2758"],["a5d6bb56.d6e99"],["1f77d87a.cc7ec"]]},{"id":"5cf92c32.258ee4","type":"string","z":"db798e01.32c89","name":"RxMHz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"RxMHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":3120,"wires":[["20936b52.48620c"]]},{"id":"20936b52.48620c","type":"change","z":"db798e01.32c89","name":"ST Num 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3120,"wires":[["ecaa72b6.1d06b"]]},{"id":"ecaa72b6.1d06b","type":"debug","z":"db798e01.32c89","name":"Spot Out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":3120,"wires":[]},{"id":"cb44c492.3d6b","type":"string","z":"db798e01.32c89","name":"TxMHz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"TxMHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":3180,"wires":[["45acd349.1c0e2c"]]},{"id":"45acd349.1c0e2c","type":"change","z":"db798e01.32c89","name":"ST Num 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3180,"wires":[["d3bc2f27.2f6e08"]]},{"id":"d3bc2f27.2f6e08","type":"debug","z":"db798e01.32c89","name":"Spot Out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":3180,"wires":[]},{"id":"a9869555.1e2758","type":"string","z":"db798e01.32c89","name":"Band:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Band:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":3240,"wires":[["fc33dc93.82afb"]]},{"id":"fc33dc93.82afb","type":"debug","z":"db798e01.32c89","name":"Spot Out 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":3240,"wires":[]},{"id":"a5d6bb56.d6e99","type":"string","z":"db798e01.32c89","name":"Mode:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Mode:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":3300,"wires":[["f855e04.829892"]]},{"id":"f855e04.829892","type":"debug","z":"db798e01.32c89","name":"Spot Out 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":3300,"wires":[]},{"id":"1f77d87a.cc7ec","type":"string","z":"db798e01.32c89","name":"Power:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Power:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":3360,"wires":[["b46eae81.6f6d7"]]},{"id":"e2fe0be.57b18f8","type":"debug","z":"db798e01.32c89","name":"Spot Out 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":3360,"wires":[]},{"id":"b46eae81.6f6d7","type":"change","z":"db798e01.32c89","name":"ST Num 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3360,"wires":[["e2fe0be.57b18f8"]]},{"id":"edee3e78.4beff","type":"switch","z":"db798e01.32c89","name":"Radio Report:Down","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Radio Report:Down","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":2400,"wires":[["c270c6c1.c7be28"]]},{"id":"735a0346.af8fec","type":"link in","z":"db798e01.32c89","name":"DogPark Rotor","links":["bd0cd66e.8ce69","cbe3c7dd.ea2f98"],"x":55,"y":2400,"wires":[["edee3e78.4beff"]]},{"id":"c270c6c1.c7be28","type":"function","z":"db798e01.32c89","name":"toString","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":2400,"wires":[["ee77955e.6e6be"]]},{"id":"ee77955e.6e6be","type":"string","z":"db798e01.32c89","name":"delRight","methods":[{"name":"delRightMost","params":[{"type":"str","value":"]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":520,"y":2400,"wires":[["cdf6f81a.341e38"]]},{"id":"cdf6f81a.341e38","type":"string","z":"db798e01.32c89","name":"delLeft","methods":[{"name":"delLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":670,"y":2400,"wires":[["1086af88.96207","51725f37.7702e"]]},{"id":"1086af88.96207","type":"debug","z":"db798e01.32c89","name":"Radio Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":2400,"wires":[]},{"id":"51725f37.7702e","type":"split","z":"db798e01.32c89","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":370,"y":2480,"wires":[["84ff18b8.f9f96"]]},{"id":"84ff18b8.f9f96","type":"switch","z":"db798e01.32c89","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":370,"y":2720,"wires":[["c4010655.bd6bd8"],["d215361e.999d4"],["1c7c8b11.78e39d"],["15abcc5f.73d81c"],["1a7b1064.111948"],["63299243.c49e34"],["507eeb30.f4051c"]]},{"id":"c4010655.bd6bd8","type":"string","z":"db798e01.32c89","name":"Down Mhz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Down Mhz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":2540,"wires":[["10b4f141.ab4def"]]},{"id":"10b4f141.ab4def","type":"change","z":"db798e01.32c89","name":"RD Num 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2540,"wires":[["cbf1acdd.f1378"]]},{"id":"cbf1acdd.f1378","type":"debug","z":"db798e01.32c89","name":"RD Out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2540,"wires":[]},{"id":"d215361e.999d4","type":"string","z":"db798e01.32c89","name":"Down Mode:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Down Mode:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":2600,"wires":[["f9b8b252.04a22"]]},{"id":"f9b8b252.04a22","type":"debug","z":"db798e01.32c89","name":"RD Out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2600,"wires":[]},{"id":"1c7c8b11.78e39d","type":"string","z":"db798e01.32c89","name":"Up MHz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Up MHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":2660,"wires":[["5181ca71.4c4a6c"]]},{"id":"ab2f0244.5cd28","type":"debug","z":"db798e01.32c89","name":"RD Out 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2660,"wires":[]},{"id":"15abcc5f.73d81c","type":"string","z":"db798e01.32c89","name":"Up Mode:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Up Mode:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":2720,"wires":[["aa7f373a.ab6848"]]},{"id":"aa7f373a.ab6848","type":"debug","z":"db798e01.32c89","name":"RD Out 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2720,"wires":[]},{"id":"5181ca71.4c4a6c","type":"change","z":"db798e01.32c89","name":"RD Num 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2660,"wires":[["ab2f0244.5cd28"]]},{"id":"1a7b1064.111948","type":"string","z":"db798e01.32c89","name":"tone:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"tone:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":2780,"wires":[["8f77629a.a02338"]]},{"id":"63299243.c49e34","type":"string","z":"db798e01.32c89","name":"ctone:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"ctone:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":2840,"wires":[["d646fecf.cdfc18"]]},{"id":"507eeb30.f4051c","type":"string","z":"db798e01.32c89","name":"SatName:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"SatName:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":2900,"wires":[["c16299f3.59836"]]},{"id":"8f77629a.a02338","type":"change","z":"db798e01.32c89","name":"RD Num 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2780,"wires":[["91c3b2bb.e5bc58"]]},{"id":"d646fecf.cdfc18","type":"change","z":"db798e01.32c89","name":"RD Num 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2840,"wires":[["54f3bc88.7fa514"]]},{"id":"91c3b2bb.e5bc58","type":"debug","z":"db798e01.32c89","name":"RD Out 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2780,"wires":[]},{"id":"54f3bc88.7fa514","type":"debug","z":"db798e01.32c89","name":"RD Out 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2840,"wires":[]},{"id":"c16299f3.59836","type":"debug","z":"db798e01.32c89","name":"RD Out 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":2900,"wires":[]},{"id":"63633841.e3eb","type":"switch","z":"db798e01.32c89","name":"Log Report:","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Log Report:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":3440,"wires":[["a3e1e0b7.42f4"]]},{"id":"e12732e0.45a86","type":"link in","z":"db798e01.32c89","name":"DogPark Rotor","links":["bd0cd66e.8ce69","cbe3c7dd.ea2f98"],"x":55,"y":3440,"wires":[["63633841.e3eb"]]},{"id":"a3e1e0b7.42f4","type":"function","z":"db798e01.32c89","name":"toString","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":3440,"wires":[["ed2b48a5.cdf2c"]]},{"id":"ed2b48a5.cdf2c","type":"string","z":"db798e01.32c89","name":"delRight","methods":[{"name":"delRightMost","params":[{"type":"str","value":"]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":520,"y":3440,"wires":[["60cfe208.a21974"]]},{"id":"60cfe208.a21974","type":"string","z":"db798e01.32c89","name":"delLeft","methods":[{"name":"delLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":670,"y":3440,"wires":[["c0f17aab.a734c8","3e697b4f.2cdacc"]]},{"id":"c0f17aab.a734c8","type":"debug","z":"db798e01.32c89","name":"Log Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":3440,"wires":[]},{"id":"cf22a92f.185788","type":"switch","z":"db798e01.32c89","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":370,"y":4000,"wires":[["f2d2340.8636ad"],["afd8f8a7.f102c"],["87bf526b.53483"],["47a1dc8d.88d09c"],["a8eea909.675e1"],["51995e4d.61b078"],["a1711091.48ea38"],["a28873ca.3d9488"],["73d3d86d.2870f8"],["5a196464.c4beac"],["a6961fa6.1ac9"],["bd2f1862.e8151"],["784f0a8e.5b0a44"],["a48a6967.d4482"],["153bf18.5f8878f"],["75d8ee20.50ab7"]]},{"id":"f2d2340.8636ad","type":"string","z":"db798e01.32c89","name":"Call:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Call:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":3580,"wires":[["66b048b2.e0cb78"]]},{"id":"66b048b2.e0cb78","type":"debug","z":"db798e01.32c89","name":"Log Out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":3580,"wires":[]},{"id":"afd8f8a7.f102c","type":"string","z":"db798e01.32c89","name":"RxMhz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"RxMHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":3640,"wires":[["c17de1b3.3cfce8"]]},{"id":"c17de1b3.3cfce8","type":"change","z":"db798e01.32c89","name":"Log Num 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3640,"wires":[["3da5f11b.c393be"]]},{"id":"3da5f11b.c393be","type":"debug","z":"db798e01.32c89","name":"Log Out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":3640,"wires":[]},{"id":"87bf526b.53483","type":"string","z":"db798e01.32c89","name":"TxMHz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"TxMHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":3700,"wires":[["98100f44.96ea7"]]},{"id":"e7ba70d4.cb1868","type":"debug","z":"db798e01.32c89","name":"Log Out 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":3700,"wires":[]},{"id":"47a1dc8d.88d09c","type":"string","z":"db798e01.32c89","name":"Band:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Band:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":3760,"wires":[["395ae64.6863f1a"]]},{"id":"395ae64.6863f1a","type":"debug","z":"db798e01.32c89","name":"Log Out 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":3760,"wires":[]},{"id":"51995e4d.61b078","type":"string","z":"db798e01.32c89","name":"Mode:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Mode:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":3880,"wires":[["1e7d96c2.4f1ba1"]]},{"id":"1e7d96c2.4f1ba1","type":"debug","z":"db798e01.32c89","name":"Log Out 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":3880,"wires":[]},{"id":"98100f44.96ea7","type":"change","z":"db798e01.32c89","name":"Log Num 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3700,"wires":[["e7ba70d4.cb1868"]]},{"id":"3e697b4f.2cdacc","type":"split","z":"db798e01.32c89","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":370,"y":3520,"wires":[["cf22a92f.185788"]]},{"id":"a1711091.48ea38","type":"string","z":"db798e01.32c89","name":"Power:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Power:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":3940,"wires":[["4bbf93fe.c60924"]]},{"id":"6611afb0.d15768","type":"debug","z":"db798e01.32c89","name":"Log Out 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":3940,"wires":[]},{"id":"a28873ca.3d9488","type":"string","z":"db798e01.32c89","name":"Grid:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Grid:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":4000,"wires":[["723997d5.367bf8"]]},{"id":"723997d5.367bf8","type":"debug","z":"db798e01.32c89","name":"Log Out 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":4000,"wires":[]},{"id":"73d3d86d.2870f8","type":"string","z":"db798e01.32c89","name":"Sat:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Sat:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":4060,"wires":[["3d602877.e83fe8"]]},{"id":"3d602877.e83fe8","type":"debug","z":"db798e01.32c89","name":"Log Out 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":4060,"wires":[]},{"id":"5a196464.c4beac","type":"string","z":"db798e01.32c89","name":"dxcc_num:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"dxcc_num:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":4120,"wires":[["d30b62ac.90ca5"]]},{"id":"66d52161.60476","type":"debug","z":"db798e01.32c89","name":"Log Out 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":4120,"wires":[]},{"id":"4bbf93fe.c60924","type":"change","z":"db798e01.32c89","name":"Log Num 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3940,"wires":[["6611afb0.d15768"]]},{"id":"191c2716.9f9af9","type":"switch","z":"db798e01.32c89","name":"Spot Report","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Spot Report:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":1260,"wires":[["7dddec7c.87309c"]]},{"id":"b119049f.8622a","type":"link in","z":"db798e01.32c89","name":"DogPark Rotor","links":["bd0cd66e.8ce69","cbe3c7dd.ea2f98"],"x":55,"y":1260,"wires":[["191c2716.9f9af9"]]},{"id":"7dddec7c.87309c","type":"function","z":"db798e01.32c89","name":"toString","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1260,"wires":[["85564287.c42c68"]]},{"id":"85564287.c42c68","type":"string","z":"db798e01.32c89","name":"delRight","methods":[{"name":"delRightMost","params":[{"type":"str","value":"]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":520,"y":1260,"wires":[["ce903754.eacba"]]},{"id":"ce903754.eacba","type":"string","z":"db798e01.32c89","name":"delLeft","methods":[{"name":"delLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":670,"y":1260,"wires":[["5e4ed455.2b257c","5cff2f48.498c58"]]},{"id":"5e4ed455.2b257c","type":"debug","z":"db798e01.32c89","name":"Spot Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1260,"wires":[]},{"id":"5cff2f48.498c58","type":"split","z":"db798e01.32c89","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":370,"y":1340,"wires":[["3f768a83.cad7ae"]]},{"id":"3f768a83.cad7ae","type":"switch","z":"db798e01.32c89","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":370,"y":1580,"wires":[["816110fd.68f1c8"],["e054810d.408508"],["58bc3e96.b9d3e8"],["492e3e7b.9c9d2"],["fe360fd.298cf7"],["db48547b.a32ea8"],["eda707a1.e8dcb"]]},{"id":"816110fd.68f1c8","type":"string","z":"db798e01.32c89","name":"RxMHz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"RxMHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":1400,"wires":[["f692dfad.2d31a"]]},{"id":"f692dfad.2d31a","type":"change","z":"db798e01.32c89","name":"SR Num 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1400,"wires":[["b4a5503c.21658"]]},{"id":"b4a5503c.21658","type":"debug","z":"db798e01.32c89","name":"SR Out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1400,"wires":[]},{"id":"e054810d.408508","type":"string","z":"db798e01.32c89","name":"TxMHz:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"TxMHz:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":1460,"wires":[["b2929b3f.81ea48"]]},{"id":"b2929b3f.81ea48","type":"change","z":"db798e01.32c89","name":"SR Num 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1460,"wires":[["5fafb79f.23e768"]]},{"id":"5fafb79f.23e768","type":"debug","z":"db798e01.32c89","name":"SR Out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1460,"wires":[]},{"id":"58bc3e96.b9d3e8","type":"string","z":"db798e01.32c89","name":"Band:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Band:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":1520,"wires":[["dc26c5a2.4ab3e8"]]},{"id":"dc26c5a2.4ab3e8","type":"debug","z":"db798e01.32c89","name":"SR Out 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1520,"wires":[]},{"id":"492e3e7b.9c9d2","type":"string","z":"db798e01.32c89","name":"Mode:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Mode:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":1580,"wires":[["519a2f43.7ffb38"]]},{"id":"519a2f43.7ffb38","type":"debug","z":"db798e01.32c89","name":"SR Out 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1580,"wires":[]},{"id":"fe360fd.298cf7","type":"string","z":"db798e01.32c89","name":"Call:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Call:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":1640,"wires":[["11dc3987.e95a36"]]},{"id":"11dc3987.e95a36","type":"debug","z":"db798e01.32c89","name":"SR Out 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1640,"wires":[]},{"id":"db48547b.a32ea8","type":"string","z":"db798e01.32c89","name":"dxcc_string:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"dxcc_string:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":1700,"wires":[["661e3709.44447"]]},{"id":"661e3709.44447","type":"debug","z":"db798e01.32c89","name":"SR Out 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1700,"wires":[]},{"id":"eda707a1.e8dcb","type":"string","z":"db798e01.32c89","name":"Comment:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"Comment:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":1760,"wires":[["eaac16fe.42b118"]]},{"id":"eaac16fe.42b118","type":"debug","z":"db798e01.32c89","name":"SR Out 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1760,"wires":[]},{"id":"a6961fa6.1ac9","type":"string","z":"db798e01.32c89","name":"logged_time:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"logged_time:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":4180,"wires":[["6d2208ad.7ec228"]]},{"id":"6d2208ad.7ec228","type":"debug","z":"db798e01.32c89","name":"Log Out 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":4180,"wires":[]},{"id":"bd2f1862.e8151","type":"string","z":"db798e01.32c89","name":"dxcc_string:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"dxcc_string:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":4240,"wires":[["c9ecb35f.5136f8"]]},{"id":"c9ecb35f.5136f8","type":"debug","z":"db798e01.32c89","name":"Log Out 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":4240,"wires":[]},{"id":"784f0a8e.5b0a44","type":"string","z":"db798e01.32c89","name":"city:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"city:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":4300,"wires":[["ddf69244.9d4448"]]},{"id":"ddf69244.9d4448","type":"debug","z":"db798e01.32c89","name":"Log Out 13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":4300,"wires":[]},{"id":"a48a6967.d4482","type":"string","z":"db798e01.32c89","name":"state:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"state:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":570,"y":4360,"wires":[["72470738.5fd018"]]},{"id":"72470738.5fd018","type":"debug","z":"db798e01.32c89","name":"Log Out 14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":4360,"wires":[]},{"id":"153bf18.5f8878f","type":"string","z":"db798e01.32c89","name":"first_name:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"first_name:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":4420,"wires":[["ebf7416c.851608"]]},{"id":"ebf7416c.851608","type":"debug","z":"db798e01.32c89","name":"Log Out 15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":4420,"wires":[]},{"id":"75d8ee20.50ab7","type":"string","z":"db798e01.32c89","name":"last_name:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"last_name:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":4480,"wires":[["bf7da0a2.a90328"]]},{"id":"bf7da0a2.a90328","type":"debug","z":"db798e01.32c89","name":"Log Out 16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":4480,"wires":[]},{"id":"d30b62ac.90ca5","type":"change","z":"db798e01.32c89","name":"Log Num 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":4120,"wires":[["66d52161.60476"]]},{"id":"a8eea909.675e1","type":"string","z":"db798e01.32c89","name":"TxBand:","methods":[{"name":"trim","params":[]},{"name":"delLeftMost","params":[{"type":"str","value":"TxBand:"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":580,"y":3820,"wires":[["480fcca1.69f83c"]]},{"id":"480fcca1.69f83c","type":"debug","z":"db798e01.32c89","name":"Log Out 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":3820,"wires":[]}]