MacDoppler MacLogger Flows v4.json
[{"id":"510a63de.6a4114","type":"tab","label":"MacDoppler Telescope Rotor","disabled":false,"info":""},{"id":"535c238a.8235d4","type":"udp in","z":"510a63de.6a4114","name":"MacDoppler UDP 9932","iface":"","port":"9932","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":140,"y":80,"wires":[["f5c768d6.0e86e"]]},{"id":"f5c768d6.0e86e","type":"link out","z":"510a63de.6a4114","name":"Dogpark UDP Broadcast","links":["283150a.473e93","4a8cc533.a6b02c","68170ff2.47c85","7cd9761d.6c6268","f3e51bbd.479fc","dd7d71e1.c9fca8","abd4ded5.24942","2653cb90.d47ae4","dba74049.648eb8","962cefa1.d43678","bd8f1d12.18b75","3f59b914.1e1bfe","faf74149.41dbd8","88df9653.d8ae68","1df250b8.903d4f","f6bca23b.16c048","83e10ce5.e8e13","f6c74fde.f2b4e","a271f165.4a8888"],"x":315,"y":80,"wires":[]},{"id":"e284820d.677b","type":"comment","z":"510a63de.6a4114","name":"MacDoppler Outputs a UDP Stream on Port 9932","info":"Author:     Dwayne Sinclair AB6A \n\nDate:       2/1/2021\nVersion:    0.1\n\nDescription:\nWe listen to this stream and capture the Elevation, Azimuth, and Satellite Name.\n\nTBD: Format for Goto Telescope Mount\n","x":220,"y":20,"wires":[]},{"id":"a271f165.4a8888","type":"link in","z":"510a63de.6a4114","name":"DogPark Rotor","links":["bd0cd66e.8ce69","f5c768d6.0e86e"],"x":75,"y":180,"wires":[["e05fbe8a.7d9248"]]},{"id":"e05fbe8a.7d9248","type":"string","z":"510a63de.6a4114","name":"delRight","methods":[{"name":"delRightMost","params":[{"type":"str","value":"]"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":200,"y":180,"wires":[["c4f599b7.6657f"]]},{"id":"c4f599b7.6657f","type":"split","z":"510a63de.6a4114","name":"","splt":"[","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":false,"addname":"","x":370,"y":180,"wires":[["472a3341.e1ef24","bcfe2cf8.6a7628"]]},{"id":"472a3341.e1ef24","type":"switch","z":"510a63de.6a4114","name":"route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":320,"wires":[["d7cc1de4.59f3f8"],["f9103c0.721eb48"]]},{"id":"d7cc1de4.59f3f8","type":"string","z":"510a63de.6a4114","name":"getMsgId","methods":[{"name":"getLeftMost","params":[{"type":"str","value":" "}]},{"name":"toInteger","params":[]}],"prop":"payload","propout":"reportMsgId","object":"msg","objectout":"msg","x":380,"y":280,"wires":[["edc62c4e.d826e"]]},{"id":"3ad79e04.8541b2","type":"comment","z":"510a63de.6a4114","name":"Format MacDoppler / MacLogger UDP Messages","info":"","x":240,"y":140,"wires":[]},{"id":"f2634f48.1d52a8","type":"function","z":"510a63de.6a4114","name":"String2Obj","func":"const str2obj = str => {\n  return str\n    .split(',')\n    .map(keyVal => {\n      return keyVal\n        .split(':')\n        .map(_ => _.trim())\n    })\n    .reduce((accumulator, currentValue) => {\n      accumulator[currentValue[0]] = currentValue[1]\n      return accumulator\n    }, {})\n}\nmsg.payload = str2obj(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":520,"wires":[["3f6d2f52.1f4aa8","e3cf221a.273af"]]},{"id":"3f6d2f52.1f4aa8","type":"debug","z":"510a63de.6a4114","name":"msg.object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":580,"wires":[]},{"id":"bcfe2cf8.6a7628","type":"debug","z":"510a63de.6a4114","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":180,"wires":[]},{"id":"e3cf221a.273af","type":"switch","z":"510a63de.6a4114","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"Spot Report","vt":"str"},{"t":"eq","v":"Radio Report","vt":"str"},{"t":"eq","v":"Sat Radio Report","vt":"str"},{"t":"eq","v":"AzEl Rotor Report","vt":"str"},{"t":"eq","v":"SpotTune","vt":"str"},{"t":"eq","v":"Log Report","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":550,"y":520,"wires":[["6dd26d9b.d2db34","cf5cb3b3.d8a5c"],["aa531480.84a28","28947eb0.ed9622"],["a6cc2e79.0c51f","fba799ea.c69fa"],["83c63e83.3c013","cf39ee84.879ec"],["d62ee965.094c18","3fb2ccea.35cf6c"],["ed6d3462.6f767","a51de7d3.9ae2a"]]},{"id":"6dd26d9b.d2db34","type":"link out","z":"510a63de.6a4114","name":"Sport Report","links":["ee9d81b5.e747b"],"x":755,"y":440,"wires":[]},{"id":"aa531480.84a28","type":"link out","z":"510a63de.6a4114","name":"","links":["edbc7cc1.c4686"],"x":755,"y":480,"wires":[]},{"id":"fba799ea.c69fa","type":"link out","z":"510a63de.6a4114","name":"","links":["13f319d2.4d12ee"],"x":755,"y":520,"wires":[]},{"id":"83c63e83.3c013","type":"link out","z":"510a63de.6a4114","name":"","links":["730a11fc.1ce2e8","39b96c5d.8f4bec"],"x":755,"y":560,"wires":[]},{"id":"d62ee965.094c18","type":"link out","z":"510a63de.6a4114","name":"","links":["3eac7c77.e20294"],"x":755,"y":600,"wires":[]},{"id":"ed6d3462.6f767","type":"link out","z":"510a63de.6a4114","name":"","links":["2945665.534929a"],"x":755,"y":640,"wires":[]},{"id":"cf5cb3b3.d8a5c","type":"debug","z":"510a63de.6a4114","name":"Spot Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":440,"wires":[]},{"id":"28947eb0.ed9622","type":"debug","z":"510a63de.6a4114","name":"Radio Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":480,"wires":[]},{"id":"a6cc2e79.0c51f","type":"debug","z":"510a63de.6a4114","name":"Sat Radio Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":520,"wires":[]},{"id":"cf39ee84.879ec","type":"debug","z":"510a63de.6a4114","name":"Rotor Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":560,"wires":[]},{"id":"3fb2ccea.35cf6c","type":"debug","z":"510a63de.6a4114","name":"SpotTune","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":600,"wires":[]},{"id":"a51de7d3.9ae2a","type":"debug","z":"510a63de.6a4114","name":"Log Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":640,"wires":[]},{"id":"f9103c0.721eb48","type":"string","z":"510a63de.6a4114","name":"getPayload","methods":[{"name":"getLeftMost","params":[{"type":"str","value":":"}]},{"name":"trimRight","params":[]}],"prop":"payload","propout":"type","object":"msg","objectout":"msg","x":390,"y":360,"wires":[["e91855ba.51bbe8"]]},{"id":"39b96c5d.8f4bec","type":"link in","z":"510a63de.6a4114","name":"","links":["83c63e83.3c013"],"x":155,"y":1280,"wires":[["b37c73a5.94ebe8"]]},{"id":"2a0bdba3.1b5d94","type":"change","z":"510a63de.6a4114","name":"setGlobals","rules":[{"t":"set","p":"macdoppler.Azimuth","pt":"global","to":"payload.Azimuth","tot":"msg"},{"t":"set","p":"macdoppler.Elevation","pt":"global","to":"payload.Elevation","tot":"str"},{"t":"set","p":"macdoppler.SatName","pt":"msg","to":"payload.SatName","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1280,"wires":[["3a11e592.6bef9a"]]},{"id":"b37c73a5.94ebe8","type":"change","z":"510a63de.6a4114","name":"toNumbers","rules":[{"t":"set","p":"payload.Azimuth","pt":"msg","to":"$number(msg.payload.Azimuth)\t","tot":"jsonata"},{"t":"set","p":"payload.Elevation","pt":"msg","to":"$number(msg.payload.Elevation)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1280,"wires":[["123cfdae.1321c2"]]},{"id":"38b2a253.be134e","type":"comment","z":"510a63de.6a4114","name":"Rotor Report","info":"","x":190,"y":1200,"wires":[]},{"id":"ee9d81b5.e747b","type":"link in","z":"510a63de.6a4114","name":"","links":["6dd26d9b.d2db34"],"x":155,"y":780,"wires":[["56aef029.a9294"]]},{"id":"e86f13bc.91be98","type":"debug","z":"510a63de.6a4114","name":"Spot Report Out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":820,"wires":[]},{"id":"56aef029.a9294","type":"change","z":"510a63de.6a4114","name":"toNumbers","rules":[{"t":"set","p":"payload.RxMHz","pt":"msg","to":"$number(msg.payload.RxMHz)","tot":"jsonata"},{"t":"set","p":"payload.TxMHz","pt":"msg","to":"$number(msg.payload.TxMHz)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":780,"wires":[["e86f13bc.91be98"]]},{"id":"185a9982.4a017e","type":"comment","z":"510a63de.6a4114","name":"Spot Report","info":"","x":190,"y":720,"wires":[]},{"id":"edbc7cc1.c4686","type":"link in","z":"510a63de.6a4114","name":"","links":["aa531480.84a28"],"x":155,"y":960,"wires":[["2c96a6bf.612e12"]]},{"id":"6154aa94.5939ec","type":"debug","z":"510a63de.6a4114","name":"Radio Report Out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":1000,"wires":[]},{"id":"2c96a6bf.612e12","type":"change","z":"510a63de.6a4114","name":"toNumbers","rules":[{"t":"set","p":"payload.Azimuth","pt":"msg","to":"$number(msg.payload.Azimuth)\t","tot":"jsonata"},{"t":"set","p":"payload.Elevation","pt":"msg","to":"$number(msg.payload.Elevation)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":960,"wires":[["6154aa94.5939ec"]]},{"id":"3e2ec759.d01c9","type":"comment","z":"510a63de.6a4114","name":"Radio Report","info":"","x":190,"y":880,"wires":[]},{"id":"13f319d2.4d12ee","type":"link in","z":"510a63de.6a4114","name":"","links":["fba799ea.c69fa"],"x":155,"y":1120,"wires":[["97e5b1ab.e1da2"]]},{"id":"3635e0d2.ace7a","type":"debug","z":"510a63de.6a4114","name":"Sat Radio Report Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":1160,"wires":[]},{"id":"97e5b1ab.e1da2","type":"change","z":"510a63de.6a4114","name":"toNumbers","rules":[{"t":"set","p":"payload.tone","pt":"msg","to":"$number(msg.payload.tone)","tot":"jsonata"},{"t":"set","p":"payload.ctone","pt":"msg","to":"$number(msg.payload.ctone)","tot":"jsonata"},{"t":"set","p":"payload[\"Down Mhz\"]","pt":"msg","to":"$number(msg.payload.\"Down Mhz\")","tot":"jsonata"},{"t":"set","p":"payload[\"Up MHz\"]","pt":"msg","to":"$number(msg.payload.\"Up MHz\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1120,"wires":[["3635e0d2.ace7a"]]},{"id":"1adf41ad.ac461e","type":"comment","z":"510a63de.6a4114","name":"Sat Radio Report","info":"","x":200,"y":1040,"wires":[]},{"id":"3eac7c77.e20294","type":"link in","z":"510a63de.6a4114","name":"","links":["d62ee965.094c18"],"x":155,"y":1440,"wires":[["1f44c3ae.391e2c"]]},{"id":"52219580.4425f4","type":"debug","z":"510a63de.6a4114","name":"SpotTune Report Out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":1480,"wires":[]},{"id":"1f44c3ae.391e2c","type":"change","z":"510a63de.6a4114","name":"toNumbers","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1440,"wires":[["52219580.4425f4"]]},{"id":"277893f0.2954b4","type":"comment","z":"510a63de.6a4114","name":"SpotTune Report","info":"","x":200,"y":1360,"wires":[]},{"id":"2945665.534929a","type":"link in","z":"510a63de.6a4114","name":"","links":["ed6d3462.6f767"],"x":155,"y":1600,"wires":[["a61b9184.c47b28"]]},{"id":"ad5d22ae.e10a1","type":"debug","z":"510a63de.6a4114","name":"Log Report Out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":1640,"wires":[]},{"id":"a61b9184.c47b28","type":"change","z":"510a63de.6a4114","name":"toNumbers","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1600,"wires":[["ad5d22ae.e10a1"]]},{"id":"61750825.313c78","type":"comment","z":"510a63de.6a4114","name":"Log Report","info":"","x":180,"y":1520,"wires":[]},{"id":"edc62c4e.d826e","type":"change","z":"510a63de.6a4114","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":280,"wires":[["8bdce1be.db108"]]},{"id":"123cfdae.1321c2","type":"rbe","z":"510a63de.6a4114","name":"","func":"rbe","gap":"5","start":"","inout":"in","property":"payload","x":470,"y":1280,"wires":[["2a0bdba3.1b5d94"]]},{"id":"3a11e592.6bef9a","type":"debug","z":"510a63de.6a4114","name":"Rotor Report Out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":1320,"wires":[]},{"id":"8bdce1be.db108","type":"join","z":"510a63de.6a4114","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":320,"wires":[["34104968.1a6c86","f2634f48.1d52a8"]]},{"id":"e91855ba.51bbe8","type":"string","z":"510a63de.6a4114","name":"delLeft","methods":[{"name":"delLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":550,"y":360,"wires":[["8bdce1be.db108"]]},{"id":"43fb086d.e5b7b","type":"comment","z":"510a63de.6a4114","name":"This is the flow I am using so note the use of setting global vars only if values have changed.","info":"","x":540,"y":1240,"wires":[]},{"id":"51ae8772.7de988","type":"comment","z":"510a63de.6a4114","name":" toNumbers - Note the format using [ ] and \" \" to access key names with spaces.","info":"","x":500,"y":1080,"wires":[]},{"id":"34104968.1a6c86","type":"debug","z":"510a63de.6a4114","name":"msg.object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":320,"wires":[]}]