MacLogger DX Spots UI.json
[{"id":"a9d1f5ff.d51478","type":"tab","label":"MacLogger DX Spots UI","disabled":false,"info":""},{"id":"faf40d61.ccb95","type":"function","z":"a9d1f5ff.d51478","name":"Create table in context","func":"let sctab = [];\nflow.set(\"sctab\", sctab);\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[[]]},{"id":"8c12c41f.5cc19","type":"inject","z":"a9d1f5ff.d51478","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"Start","payloadType":"str","x":130,"y":140,"wires":[["faf40d61.ccb95"]]},{"id":"977ed6fc.05cc28","type":"mqtt in","z":"a9d1f5ff.d51478","name":"","topic":"dogpark/spotReport","qos":"0","datatype":"json","broker":"30ba5e90.07398a","x":200,"y":220,"wires":[["24d32ca.34c18d4"]]},{"id":"a8072ba5.f70318","type":"comment","z":"a9d1f5ff.d51478","name":"DX Spots shown on a scrolling table as identified in Spot Reports from MacLogger. These are directed to MacLogger from WSJT-X","info":"","x":590,"y":80,"wires":[]},{"id":"24d32ca.34c18d4","type":"switch","z":"a9d1f5ff.d51478","name":"Only DX","property":"payload.dxcc_string","propertyType":"msg","rules":[{"t":"neq","v":"United States","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":220,"wires":[["e39e1e39.df9168","da40e7e7.ec4658"]]},{"id":"3b43e79a.f17b18","type":"ui_template","z":"a9d1f5ff.d51478","group":"74256f79.e76cb","name":"SVG based template","order":0,"width":"8","height":"16","format":"<style>\n    #tex1 {\n        font-weight:normal;\n        font-size: 10;\n        letter-spacing: 4px;\n        fill: grey;\n    }\n    #tex2 {\n        font-weight:bold;\n        font-size: 10;\n        letter-spacing: 4px;\n        fill: grey;\n    }\n   \n</style>\n<svg height=\"1000\" width=\"400\" >\n<text id=\"tex2\" x=\"10\" y=\"30\" > {{msg.payload[0].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"30\" > {{msg.payload[0].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"30\" > {{msg.payload[0].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"50\" > {{msg.payload[1].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"50\" > {{msg.payload[1].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"50\" > {{msg.payload[1].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"70\" > {{msg.payload[2].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"70\" > {{msg.payload[2].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"70\" > {{msg.payload[2].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"90\" > {{msg.payload[3].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"90\" > {{msg.payload[3].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"90\" > {{msg.payload[3].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"110\" > {{msg.payload[4].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"110\" > {{msg.payload[4].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"110\" > {{msg.payload[4].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"130\" > {{msg.payload[5].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"130\" > {{msg.payload[5].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"130\" > {{msg.payload[5].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"150\" > {{msg.payload[6].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"150\" > {{msg.payload[6].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"150\" > {{msg.payload[6].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"170\" > {{msg.payload[7].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"170\" > {{msg.payload[7].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"170\" > {{msg.payload[7].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"190\" > {{msg.payload[8].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"190\" > {{msg.payload[8].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"190\" > {{msg.payload[8].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"210\" > {{msg.payload[9].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"210\" > {{msg.payload[9].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"210\" > {{msg.payload[9].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"230\" > {{msg.payload[10].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"230\" > {{msg.payload[10].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"230\" > {{msg.payload[10].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"250\" > {{msg.payload[11].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"250\" > {{msg.payload[11].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"250\" > {{msg.payload[11].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"270\" > {{msg.payload[12].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"270\" > {{msg.payload[12].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"270\" > {{msg.payload[12].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"290\" > {{msg.payload[13].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"290\" > {{msg.payload[13].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"290\" > {{msg.payload[13].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"310\" > {{msg.payload[14].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"310\" > {{msg.payload[14].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"310\" > {{msg.payload[14].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"330\" > {{msg.payload[15].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"330\" > {{msg.payload[15].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"330\" > {{msg.payload[15].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"350\" > {{msg.payload[16].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"350\" > {{msg.payload[16].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"350\" > {{msg.payload[16].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"370\" > {{msg.payload[17].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"370\" > {{msg.payload[17].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"370\" > {{msg.payload[17].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"390\" > {{msg.payload[18].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"390\" > {{msg.payload[18].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"390\" > {{msg.payload[18].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"410\" > {{msg.payload[19].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"410\" > {{msg.payload[19].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"410\" > {{msg.payload[19].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"430\" > {{msg.payload[20].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"430\" > {{msg.payload[20].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"430\" > {{msg.payload[20].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"450\" > {{msg.payload[21].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"450\" > {{msg.payload[21].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"450\" > {{msg.payload[21].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"470\" > {{msg.payload[22].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"470\" > {{msg.payload[22].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"470\" > {{msg.payload[22].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"490\" > {{msg.payload[23].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"490\" > {{msg.payload[23].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"490\" > {{msg.payload[23].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"510\" > {{msg.payload[24].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"510\" > {{msg.payload[24].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"510\" > {{msg.payload[24].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"530\" > {{msg.payload[25].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"530\" > {{msg.payload[25].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"530\" > {{msg.payload[25].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"550\" > {{msg.payload[26].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"550\" > {{msg.payload[26].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"550\" > {{msg.payload[26].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"570\" > {{msg.payload[27].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"570\" > {{msg.payload[27].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"570\" > {{msg.payload[27].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"590\" > {{msg.payload[28].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"590\" > {{msg.payload[28].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"590\" > {{msg.payload[28].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"610\" > {{msg.payload[29].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"610\" > {{msg.payload[29].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"610\" > {{msg.payload[29].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"630\" > {{msg.payload[30].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"630\" > {{msg.payload[30].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"630\" > {{msg.payload[30].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"650\" > {{msg.payload[31].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"650\" > {{msg.payload[31].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"650\" > {{msg.payload[31].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"670\" > {{msg.payload[32].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"670\" > {{msg.payload[32].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"670\" > {{msg.payload[32].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"690\" > {{msg.payload[33].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"690\" > {{msg.payload[33].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"690\" > {{msg.payload[33].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"710\" > {{msg.payload[34].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"710\" > {{msg.payload[34].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"710\" > {{msg.payload[34].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"730\" > {{msg.payload[35].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"730\" > {{msg.payload[35].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"730\" > {{msg.payload[35].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"750\" > {{msg.payload[36].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"750\" > {{msg.payload[36].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"750\" > {{msg.payload[36].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"770\" > {{msg.payload[37].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"770\" > {{msg.payload[37].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"770\" > {{msg.payload[37].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"790\" > {{msg.payload[38].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"790\" > {{msg.payload[38].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"790\" > {{msg.payload[38].dxcc_string}} </text>\n<text id=\"tex2\" x=\"10\" y=\"810\" > {{msg.payload[39].Call}} </text> <text id=\"tex1\" x=\"130\" y=\"810\" > {{msg.payload[39].Band}} </text> <text id=\"tex1\" x=\"180\" y=\"810\" > {{msg.payload[39].dxcc_string}} </text>\n</svg>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":930,"y":220,"wires":[[]]},{"id":"da40e7e7.ec4658","type":"function","z":"a9d1f5ff.d51478","name":"Add word to scrolling table","func":"let pay = msg.payload;\n\n// Read scrolling table from context\nlet sctab = flow.get(\"sctab\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = sctab.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >40) sctab.pop();\n\n// Update context for scrolling text\nflow.set(\"sctab\",sctab);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...sctab];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":220,"wires":[["3b43e79a.f17b18"]]},{"id":"e39e1e39.df9168","type":"debug","z":"a9d1f5ff.d51478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":180,"wires":[]},{"id":"1228337c.fc43c5","type":"comment","z":"a9d1f5ff.d51478","name":"Update to reflect Tab on your UI","info":"","x":970,"y":180,"wires":[]},{"id":"30ba5e90.07398a","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"74256f79.e76cb","type":"ui_group","name":"DX Spots","tab":"bfc3a2a7.0f09e8","order":1,"disp":false,"width":"8","collapse":false},{"id":"bfc3a2a7.0f09e8","type":"ui_tab","name":"DX Spots","icon":"dashboard","disabled":false,"hidden":false}]